<wg-panel header="{{mainCtrl.widget.label}}">

	<section>
		<header>Simple Restriction</header>

		<wg-datatable style="margin-top: 10px"
			binding="datatableCtrl.datatable"
			item="car"
			itemId="vin"
			items="datatableCtrl.httpDataSource2"
			loadOnDemand="true"
		   	rows="30">
			<wg-column value="brand" headerText="Brand"></wg-column>			
			<wg-column value="year" headerText="Year" sortBy="year"></wg-column>			
			<wg-column value="color" headerText="Color" sortBy="color"></wg-column>
		</wg-datatable>
	</section>
	
	<wg-fieldset id="Source" legend="Source" style="margin-bottom:20px">
		<wg-tabview id="sourceTabs" >
			<wg-tab header="HTML" id="d_html">
				<demo-source language="html">
<wg-datatable style="margin-top: 10px"
	binding="datatableCtrl.datatable"
	item="car"
	itemId="vin"
	items="datatableCtrl.httpDataSource2"
	loadOnDemand="true"
   	rows="30">
	<wg-column value="brand" headerText="Brand"></wg-column>			
	<wg-column value="year" headerText="Year" sortBy="year"></wg-column>			
	<wg-column value="color" headerText="Color" sortBy="color"></wg-column>
</wg-datatable>
				</demo-source>
			</wg-tab>
			<wg-tab header="Controller" id="d_script">
				<demo-source language="javascript">
function DatatableController($wgGrowl) {

	var vm = this;

    vm.httpDataSource2 = new AngularWidgets.HttpDataSource({ url: 'json/cars2.json' });

	vm.datatable = null;
};
				</demo-source>
        	</wg-tab>
		</wg-tabview>
	</wg-fieldset>
</wg-panel>