<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>AngularWidgets v0.2 - AngularJS Widgets</title>

    <link rel="stylesheet" href="../../theme/theme.css">
    <link rel="stylesheet" href="../../css/angularWidgets/angularWidgets-0.2.1.css">
  	<link rel="stylesheet" href="../../css/app.css">
  
    <script src="../../../node_modules/angular/angular.js"></script>
    <script src="../../../node_modules/angular/angular-route.js"></script>
    <script src="../../../node_modules/angular/angular-animate.js"></script>
    <script src="../../../node_modules/angularWidgets/angularWidgets-0.2.1.js"></script>
        
    <script>
		angular.module('teste', ['angular.widgets'])		
		.controller('DatatableController', [ '$http', 'puiGrowl', function($http, puiGrowl) {
	        
			var vm = this;
			
	        vm.cars =  [
	            {'brand':'Volkswagen','year': 2012, 'color':'White', 'vin':'dsad231ff'},
	            {'brand':'Audi','year': 2011, 'color':'Black', 'vin':'gwregre345'},
	            {'brand':'Renault','year': 2005, 'color':'Gray', 'vin':'h354htr'},
	            {'brand':'Bmw','year': 2003, 'color':'Blue', 'vin':'j6w54qgh'},
	            {'brand':'Mercedes','year': 1995, 'color':'White', 'vin':'hrtwy34'},
	            {'brand':'Opel','year': 2005, 'color':'Black', 'vin':'jejtyj'},
	            {'brand':'Honda','year': 2012, 'color':'Yellow', 'vin':'g43gr'},
	            {'brand':'Chevrolet','year': 2013, 'color':'White', 'vin':'greg34'},
	            {'brand':'Opel','year': 2000, 'color':'Black', 'vin':'h54hw5'},
	            {'brand':'Mazda','year': 2013, 'color':'Red', 'vin':'245t2s'}
	        ];
	        
	        vm.cars2 = [
				{'brand':'Hyunday','year': 2010, 'color':'Gray', 'vin':'dsad231ff'},
		    	{'brand':'Audi','year': 2011, 'color':'Black', 'vin':'gwregre345'}		            
			];
	        
	        vm.phones = [
				{'brand':'Samsung','year': 2014, 'color':'White', 'model': 'Galaxy S5', 'vin':'11'},
				{'brand':'Apple','year': 2014, 'color':'Black', 'model': 'Iphone 6', 'vin':'22'}		            
			];

            vm.onRowSelect = function(event, data) {
                puiGrowl.showInfoMessage('Row selection', 'Selected a ' + data.color + ' ' + data.brand + ' of ' + data.year + ' (id = ' + data.vin + ')');
            }

	        vm.onRowUnselect = function(event, data) {
				if (data) {
                	puiGrowl.showInfoMessage('Row deselection', 'deselected the ' + data.color + ' ' + data.brand + ' of ' + data.year + ' (id = ' + data.vin + ')');
                }
            }

	        vm.getCars = function() {
	        	return vm.cars;	
	        }
	        
	        vm.changeData = function () {
	        	vm.cars = vm.cars2;
	        };
	        
	        vm.getPhones = function() {
	        	return vm.phones;
	        };
	        
	        vm.showVin = function (car) {
	        	alert(car.vin);
	        };
	    }]);
    </script>
</head>
<body ng-app="teste">
	<div ng-controller="DatatableController as ctrl">

		<wg-datatable value="ctrl.getPhones()"	item="phone" itemId="vin" caption="Single Selection" 
			selectionMode="single" 
			onRowSelect="ctrl.onRowSelect"
			onRowUnselect="ctrl.onRowUnselect">
		
	    	<wg-column value="brand" headerText="Brand"></wg-column>
			<wg-column headerText="Year" sortBy="year">			
				{{phone.year}}
			</wg-column>
			<wg-column value="model" headerText="Model"></wg-column>
			<wg-column value="color" headerText="Color"></wg-column>
			<wg-column>
				<button ng-click="ctrl.showVin(phone)">Show Vin</button>
			</wg-column>
	    </wg-datatable>
		
		<wg-datatable value="ctrl.getCars()" item="car" caption="Multiple Selection" 
			rowkey="vin" selectionMode="multiple"
			onRowSelect="ctrl.onRowSelect"
			onRowUnselect="ctrl.onRowUnselect"			
			style="margin-top: 10px">
			
	    	<wg-column value="brand" headerText="Brand">
	    		<input type="text" ng-model="car.brand" />
	    	</wg-column>
			<wg-column headerText="Year" sortBy="year">			
				{{car.year}}
			</wg-column>
			<wg-column value="color" headerText="Color"></wg-column>
			<wg-column>
				<button ng-click="ctrl.showVin(car)">Show Vin</button>
			</wg-column>
	    </wg-datatable>

		<button ng-click="ctrl.changeData()">Change Data</button>
		
	</div>
</body>