<wg-panel header="{{mainCtrl.widget.label}}">

	<section>
		<header>Simple Restriction</header>
		
		<wg-fieldset legend="Filters">
			<label for="itBrand">Brand:</label>
			<wg-inputtext id="itBrand" value="datatableCtrl.simpleRestriction.r.brand.value" onEnterKey="datatableCtrl.datatable.refresh()"></wg-inputtext>

			<label for="itColor">Color:</label>
			<wg-inputtext id="itColor" value="datatableCtrl.simpleRestriction.r.color.value" onEnterKey="datatableCtrl.datatable.refresh()"></wg-inputtext>

			<span>Year:</span>
			<span ng-bind="datatableCtrl.simpleRestriction.r.year.value"></span>

			<wg-button action="datatableCtrl.datatable.refresh()" value="Search"></wg-button>
		</wg-fieldset>

		<wg-datatable style="margin-top: 10px"
			binding="datatableCtrl.datatable"
			item="car"
			itemId="vin"
			items="datatableCtrl.httpDataSource"
			restriction="datatableCtrl.simpleRestriction"
			paginator="true"
		   	rows="4">
			<wg-column value="brand" headerText="Brand"></wg-column>			
			<wg-column value="year" headerText="Year" sortBy="year"></wg-column>			
			<wg-column value="color" headerText="Color" sortBy="color"></wg-column>
		</wg-datatable>
	</section>
	
	<wg-fieldset id="Source" legend="Source" style="margin-bottom:20px">
		<wg-tabview id="sourceTabs" >
			<wg-tab header="HTML" id="d_html">
				<demo-source language="html">
<wg-fieldset legend="Filters">
	<label for="itBrand">Brand:</label>
	<wg-inputtext id="itBrand" value="datatableCtrl.simpleRestriction.r.brand.value" onEnterKey="datatableCtrl.datatable.refresh()"></wg-inputtext>

	<label for="itColor">Color:</label>
	<wg-inputtext id="itColor" value="datatableCtrl.simpleRestriction.r.color.value" onEnterKey="datatableCtrl.datatable.refresh()"></wg-inputtext>

	<span>Year:</span>
	<span ng-bind="datatableCtrl.simpleRestriction.r.year.value"></span>

	<wg-button action="datatableCtrl.datatable.refresh()" value="Search"></wg-button>
</wg-fieldset>

<wg-datatable
	binding="datatableCtrl.datatable"
	item="car"
	itemId="vin"
	items="datatableCtrl.httpDataSource"
	restriction="datatableCtrl.simpleRestriction"
	paginator="true"
	rows="4">
	<wg-column value="brand" headerText="Brand"></wg-column>			
	<wg-column value="year" headerText="Year" sortBy="year"></wg-column>			
	<wg-column value="color" headerText="Color" sortBy="color"></wg-column>
</wg-datatable>
				</demo-source>
			</wg-tab>
			<wg-tab header="Controller" id="d_script">
				<demo-source language="javascript">
function DatatableController($wgGrowl) {

	var vm = this;

    vm.httpDataSource = new AngularWidgets.HttpDataSource({ url: 'json/cars.json' });

	vm.datatable = null;

	vm.simpleRestriction = new AngularWidgets.Restriction([
		{ attribute: "year", value: 1998, operator: "GE" },
		"color", 
		{ attribute: "brand", operator: "START_WITH"} 			
	]);
};
				</demo-source>
        	</wg-tab>
		</wg-tabview>
	</wg-fieldset>
</wg-panel>