<wg-panel header="{{mainCtrl.widget.label}}">
				
	<section>
		<header>Custom Column</header>
		<wg-datatable 
			items="datatableCtrl.fixedData" 
			item="car">				
			<wg-column value="brand" headerText="Brand">
				<wg-inputtext value="car.brand"></wg-inputtext>
	    	</wg-column>
			
			<wg-column value="year" headerText="Year" sortBy="year">			
			</wg-column>
			
			<wg-column headerText="Color" sortBy="color">
				<div style="border: 1px solid #666; height: 16px; width: 16px;" ng-style="{ backgroundColor: car.color }"></div>				
			</wg-column>
			
			<wg-column>
				<wg-button action="datatableCtrl.showInfo(car)" value="Show Info"></wg-button>
			</wg-column>
		</wg-datatable>
	</section>
	
	
	<wg-fieldset id="Source" legend="Source" style="margin-bottom:20px">
		<wg-tabview id="sourceTabs" >
			<wg-tab header="HTML" id="d_html">				
				<demo-source language="html">
<wg-datatable 
	items="datatableCtrl.fixedData" 
	item="car">				
	<wg-column value="brand" headerText="Brand">
		<wg-inputtext value="car.brand"></wg-inputtext>
	</wg-column>

	<wg-column value="year" headerText="Year" sortBy="year">			
	</wg-column>

	<wg-column headerText="Color" sortBy="color">
		<div style="border: 1px solid #666; height: 16px; width: 16px;" ng-style="{ backgroundColor: car.color }"></div>				
	</wg-column>

	<wg-column>
		<wg-button action="datatableCtrl.showInfo(car)" value="Show Info"></wg-button>
	</wg-column>
</wg-datatable>
				</demo-source>
			</wg-tab>
			<wg-tab header="Controller" id="d_script">
				<demo-source language="javascript">
function DatatableController($wgGrowl) {

	var vm = this;

	vm.fixedData = [
		{'brand':'Volkswagen','year': 2012, 'color':'White', 'vin':'dsad231ff'},
		{'brand':'Audi','year': 2011, 'color':'Black', 'vin':'gwregre345'},
		{'brand':'Renault','year': 2005, 'color':'Gray', 'vin':'h354htr'},
		{'brand':'Bmw','year': 2003, 'color':'Blue', 'vin':'j6w54qgh'},
		{'brand':'Mercedes','year': 1995, 'color':'White', 'vin':'hrtwy34'},
		{'brand':'Opel','year': 2005, 'color':'Black', 'vin':'jejtyj'},
		{'brand':'Honda','year': 2012, 'color':'Yellow', 'vin':'g43gr'},
		{'brand':'Chevrolet','year': 2013, 'color':'White', 'vin':'greg34'},
		{'brand':'Opel','year': 2000, 'color':'Black', 'vin':'h54hw5'},
		{'brand':'Mazda','year': 2013, 'color':'Red', 'vin':'245t2s'}
	];
	
	vm.showInfo = function (car) {
		$wgGrowl.showInfoMessage('Car Information', 'Car Vin: ' + car.vin + ' Brand: ' + car.brand );
	};
};
				</demo-source>
        	</wg-tab>
		</wg-tabview>
	</wg-fieldset>
</wg-panel>