<wg-panel header="{{mainCtrl.widget.label}}">
				
	<section>
		<header>Responsive</header>
		<wg-datatable			 
			item="car" 
			itemId="vin"
			items="datatableCtrl.httpDataSource" 
			caption="Datatable Responsive"
			selectionMode="multiple"			
			paginator="true"
		   	rows="4"
		   	responsive="true"
			onRowSelect="datatableCtrl.onRowSelect"
			onRowUnselect="datatableCtrl.onRowUnselect">
			<wg-column value="brand" headerText="Brand"></wg-column>			
			<wg-column value="year" headerText="Year" sortBy="year"></wg-column>			
			<wg-column value="color" headerText="Color" sortBy="color"></wg-column>
		</wg-datatable>
	</section>
	
	
		<wg-fieldset id="Source" legend="Source" style="margin-bottom:20px">
		<wg-tabview id="sourceTabs" >
			<wg-tab header="HTML" id="d_html">
				<demo-source language="html">
<wg-datatable			 
	item="car" 
	itemId="vin"
	items="datatableCtrl.httpDataSourceObject" 
	caption="Http Data Loader With Paginator"
	selectionMode="multiple"			
	paginator="true"
	rows="4"
	responsive="true"
	onRowSelect="datatableCtrl.onRowSelect"
	onRowUnselect="datatableCtrl.onRowUnselect">
	<wg-column value="brand" headerText="Brand"></wg-column>			
	<wg-column value="year" headerText="Year" sortBy="year"></wg-column>			
	<wg-column value="color" headerText="Color" sortBy="color"></wg-column>
</wg-datatable>
				</demo-source>
			</wg-tab>
			<wg-tab header="Controller" id="d_script">
				<demo-source language="javascript">
function DatatableController($puiGrowl) {

	var vm = this;
	
	vm.onRowSelect = function(event, data) {
		$puiGrowl.showInfoMessage('Row selection', 'Selected a '+data.color+ ' '+data.brand+ ' of '+data.year +' (id = '+data.vin+')');
    };

	vm.onRowUnselect = function(event, data) {
		if (data) {
			$puiGrowl.showInfoMessage('Row deselection', 'deselected the ' + data.color + ' ' + data.brand + ' of ' + data.year + ' (id = ' + data.vin + ')');
		}
	};

    vm.httpDataSource = new AngularWidgets.HttpDataSource({ url: 'json/cars.json' });
};
				</demo-source>
        	</wg-tab>
		</wg-tabview>
	</wg-fieldset>
</wg-panel>