<wg-panel header="{{mainCtrl.widget.label}}">
		
	<wg-fieldset id="description" legend="description" style="margin-bottom:20px">
           Datalist displays data in list format. Pagination, Selection are built-in features supporting both local and remote data.
	</wg-fieldset>
	<wg-fieldset id="supports" legend="Supports" style="margin-bottom:20px">		
	</wg-fieldset>
	<wg-fieldset id="issues" legend="Known issues" style="margin-bottom:20px">
	</wg-fieldset>
	<wg-fieldset id="Configuration" legend="Configuration" style="margin-bottom:20px">           
	</wg-fieldset>
</wg-panel>