<wg-panel header="{{mainCtrl.widget.label}}">
				
	<section>
		<header>Simple Restriction</header>
		
		<wg-fieldset legend="Filters">
			<label for="itBrand">Brand:</label>
			<wg-inputtext id="itBrand" value="datalistCtrl.simpleRestriction.r.brand.value"></wg-inputtext>

			<label for="itColor">Color:</label>
			<wg-inputtext id="itColor" value="datalistCtrl.simpleRestriction.r.color.value"></wg-inputtext>

			<span>Year:</span>
			<span ng-bind="datalistCtrl.simpleRestriction.r.year.value"></span>

			<wg-button action="datalistCtrl.datalist.refresh()" value="Search"></wg-button>
		</wg-fieldset>
		
		<wg-datalist id="httpDataSource" style="margin-top: 10px"			
			binding="datalistCtrl.datalist"						 
			item="car" 
			itemId="vin"
			items="datalistCtrl.httpDataSource"
			restriction="datalistCtrl.simpleRestriction" 
			paginator="true" 
			rows="8" 
			selectionMode="single" 
			onItemSelect="datalistCtrl.onItemSelect">
			
			<wg-facet name="header">
				Cars
			</wg-facet>
			
			<wg-facet name="content">
				<b>Brand:</b><span>{{car.brand}}</span><br/>
				<span style="font-size: 0.75em">Year: {{car.year}}, Color: {{car.color}}, Vin: {{car.vin}}</span>			
			</wg-facet>			
		</wg-datalist>
	</section>
	
	<wg-fieldset id="Source" legend="Source" style="margin-bottom:20px">
		<wg-tabview id="sourceTabs" >
			<wg-tab header="HTML" id="d_html">
				<demo-source language="html">
<wg-datalist id="httpDataSource" items="datalistCtrl.httpDataSource" item="car" itemId="vin" paginator="true" rows="8" selectionMode="single" onItemSelect="datalistCtrl.onItemSelect">
			
	<wg-facet name="header">
		Cars
	</wg-facet>
	
	<wg-facet name="content">
		<b>Brand:</b><span>{{car.brand}}</span><br/>
		<span style="font-size: 0.75em">Year: {{car.year}}, Color: {{car.color}}, Vin: {{car.vin}}</span>
	</wg-facet>
</wg-datalist>
				</demo-source>
			</wg-tab>
			<wg-tab header="Controller" id="d_script">
				<demo-source language="javascript">
function DatalistController($wgGrowl) {

	var vm = this;
	
	vm.onItemSelect = function(data) {
		$wgGrowl.showInfoMessage('Item selection', 'Selected a ' + data.color + ' ' + data.brand + ' of ' + data.year + ' (id = ' + data.vin + ')');
	};

    vm.httpDataSource = new AngularWidgets.HttpDataSource({ url: 'json/cars.json' });

	// Restriction
	vm.datalist = null;

	vm.simpleRestriction = new AngularWidgets.Restriction([
		{ attribute: "year", value: 1998, operator: "GE" },
		"color", 
		{ attribute: "brand", operator: "START_WITH"} 			
	]);
};
				</demo-source>
        	</wg-tab>
		</wg-tabview>
	</wg-fieldset>
</wg-panel>