<wg-panel header="{{mainCtrl.widget.label}}">

	<section>
		
		<header>Empty messasge</header>
		
		<wg-datalist id="emptyData" items="datalistCtrl.emptyData" paginator="true" rows="10"></wg-datalist>
	</section>

	<wg-fieldset id="Source" legend="Source" style="margin-bottom:20px">
		<wg-tabview id="sourceTabs">
			<wg-tab header="HTML" id="d_html">
				<demo-source language="html">
<wg-datalist id="emptyData" items="datalistCtrl.emptyData" paginator="true" rows="10"></wg-datalist>
				</demo-source>
			</wg-tab>
			<wg-tab header="Controller" id="d_script">
				<demo-source language="javascript">
function DatalistController() {

	var vm = this;

	vm.emptyData = [];
}
				</demo-source>
			</wg-tab>
		</wg-tabview>
	</wg-fieldset>
</wg-panel>