
<div id="content">

	<pui-panel header="puiEvent">
		

		<pui-fieldset id="description" legend="Description" style="margin-bottom:20px">
            SINCE v0.2 !!!
            Adds support for event on other widgets like pui-inputText.  events are key presses, selections, etc ..
		</pui-fieldset>
		<pui-fieldset id="supports" legend="Supports" style="margin-bottom:20px">
            <ul>
                <li>Default behaviour when enter is pressed in pui-inputText </li>

            </ul>
		</pui-fieldset>
		<pui-fieldset id="issues" legend="Known issues" style="margin-bottom:20px">
		</pui-fieldset>

		<pui-fieldset id="planned" legend="Planned" style="margin-bottom:20px">
            <ul>
                <li>Default behaviour in dropdown widget</li>
            </ul>
		</pui-fieldset>

		<pui-fieldset id="documentation" legend="Documentation" style="margin-bottom:20px">

            <table class="doc-table">
                <thead>
                <tr>
                    <th class="ui-state-default">Name</th>
                    <th class="ui-state-default">Type</th>
                    <th class="ui-state-default">Default</th>
                    <th class="ui-state-default">Description</th>
                </tr>
                </thead>
                <tbody>
                <tr class="ui-widget-content">
                    <td>event</td>
                    <td>String</td>
                    <td>undefined (ngEnter within pui-inputText)</td>
                    <td>What triggers the event.  Supported names depends on the widget where it is used.</td>
                </tr>
                <tr class="ui-widget-content">
                    <td>actionListener</td>
                    <td>function</td>
                    <td>undefined </td>
                    <td>Function which needs to be executed when the event is detected.</td>
                </tr>

                </tbody>
            </table>
            pui-inputText -> ngEnter

        </pui-fieldset>


	</pui-panel>
</div>