<pui-panel header="{{mainCtrl.widget.label}}">		

	<section>
		<header>Text on button can be dynamic</header>
		
		<pui-button id="dynamic" action="buttonCtrl.showMessage('Button variable title clicked')" value="{{buttonCtrl.buttonTitle}}"></pui-button>
		<br/>
		<br/>
		<pui-inputtext id="title" type="text" value="buttonCtrl.buttonTitle"></pui-inputtext>
	</section>

	<pui-fieldset id="Source" legend="Source" style="margin-bottom:20px">
		<pui-tabview id="sourceTabs" >
			<pui-tab header="html" id="d_html">
				<demo-source language="html">
<pui-button id="dynamic" action="buttonCtrl.showMessage('Button variable title clicked')" value="{{buttonCtrl.buttonTitle}}"></pui-button>
<br/>
<br/>
<pui-inputtext id="title" type="text" value="buttonCtrl.buttonTitle"></pui-inputtext>
				</demo-source>
			</pui-tab>
			<pui-tab header="controller" id="d_script">
				<demo-source language="javascript">
function ButtonController($puiGrowl) {
  		
	var vm = this;
	      
	vm.showMessage = function(msg) {
		$puiGrowl.showInfoMessage('Message', msg);
	};

	vm.buttonTitle = 'Change me';
}
				</demo-source>
			</pui-tab>
		</pui-tabview>
	</pui-fieldset>
</pui-panel>