<wg-panel header="{{mainCtrl.widget.label}}">

	<section>
		<header>Default integration</header>
		<wg-button id="default" action="buttonCtrl.showMessage('Button clicked')" value="AngularWidgets"></wg-button>
	</section>

	<wg-fieldset legend="Source" id="Source" style="margin-bottom:20px">
		<wg-tabview id="sourceTabs" >
			<wg-tab header="HTML" id="d_html">
				<demo-source language="html">
<wg-button id="default" action="buttonCtrl.showMessage('Button clicked')" value="AngularWidgets"></wg-button>
				</demo-source>
			</wg-tab>
			<wg-tab header="Controller" id="d_script">
				<demo-source language="javascript">
function ButtonController($puiGrowl) {
   		
	var vm = this;
	      
	vm.showMessage = function(msg) {
		$puiGrowl.showInfoMessage('Message', msg);
	};
}
				</demo-source>
			</wg-tab>
		</wg-tabview>
	</wg-fieldset>
	
</wg-panel>