<pui-panel header="{{mainCtrl.widget.label}}">		

	<section>
		<header>Text on button can be dynamic</header>

		<pui-button id="dynamic" action="showMessage('Button variable title clicked')" value="{{buttonTitle}}"></pui-button>
		<br/>
		<br/>
		<input id="title" type="text" ng-model="buttonTitle" />
	</section>

	<pui-fieldset id="Source" legend="Source" style="margin-bottom:20px">
		<pui-tabview id="sourceTabs" >
			<pui-tab header="html" id="d_html">
				<pre pretty-print="html" >
<pui-button id="dynamic" action="showMessage('Button variable title clicked')" value="{{buttonTitle}}"></pui-button>
<br/>
<br/>
<input id="title" type="text" ng-model="buttonTitle" />
				</pre>
			</pui-tab>
			<pui-tab header="controller" id="d_script">
				<pre pretty-print="js" >
$scope.showMessage = function(msg) {
	alert(msg);
};

$scope.buttonTitle = 'change me';
				</pre>
			</pui-tab>
		</pui-tabview>
	</pui-fieldset>
</pui-panel>