<wg-panel header="{{mainCtrl.widget.label}}">

	<section>
		<header>Icons can be placed on button</header>

		<wg-button id="left" action="buttonCtrl.showMessage('Button left icon clicked')" icon="fa-check" value="Left Icon"></wg-button>

		<wg-button id="right" action="buttonCtrl.showMessage('Button right icon clicked')" icon="fa-close" iconPosition ="right" value="Right icon"></wg-button>

		<wg-button id="iconOnly" action="buttonCtrl.showMessage('icon only clicked')" icon="fa-save"></wg-button>
	</section>

	<wg-fieldset id="Source" legend="Source" style="margin-bottom:20px">
		<wg-tabview id="sourceTabs">
			<wg-tab header="HTML" id="d_html">
				<demo-source language="html">
<wg-button id="left" action="buttonCtrl.showMessage('Button left icon clicked')" icon="fa-check" value="Left Icon"></wg-button>

<wg-button id="right" action="buttonCtrl.showMessage('Button right icon clicked')" icon="fa-close" iconPosition ="right" value="Right icon"></wg-button>

<wg-button id="iconOnly" action="buttonCtrl.showMessage('icon only clicked')" icon="fa-save"></wg-button>
				</demo-source>
			</wg-tab>
			<wg-tab header="Controller" id="d_script">
				<demo-source language="javascript">
function ButtonController($puiGrowl) {
   		
	var vm = this;
	      
	vm.showMessage = function(msg) {
		$puiGrowl.showInfoMessage('Message', msg);
	};
}
				</demo-source>
			</wg-tab>
		</wg-tabview>
	</wg-fieldset>
</wg-panel>