<wg-panel header="{{mainCtrl.widget.label}}">
		
	<section>
		<header>Support for disabled</header>

		<wg-button id="disabled" action="buttonCtrl.showMessage('Initially disabled button clicked')" value="Disabled" disabled="buttonCtrl.buttonDisabled"></wg-button>
		
		<br/>
		<br/>
		
		<wg-button action="buttonCtrl.enableButton()" ng-show="buttonCtrl.buttonDisabled" id="enableBtn" value="Enable button"></wg-button>
		<wg-button action="buttonCtrl.disableButton()" ng-hide="buttonCtrl.buttonDisabled" id="disableBtn" value="Disable button"></wg-button>
	</section>
	
	<wg-fieldset id="Source" legend="Source" style="margin-bottom:20px">
		<wg-tabview id="sourceTabs" >
			<wg-tab header="html" id="d_html">
				<demo-source language="html">
<wg-button id="disabled" action="buttonCtrl.showMessage('Initially disabled button clicked')" value="Disabled" disabled="buttonCtrl.buttonDisabled"></wg-button>

<br/>
<br/>

<wg-button action="buttonCtrl.enableButton()" ng-show="buttonCtrl.buttonDisabled" id="enableBtn" value="Enable button"></wg-button>
<wg-button action="buttonCtrl.disableButton()" ng-hide="buttonCtrl.buttonDisabled" id="disableBtn" value="Disable button"></wg-button>
				</demo-source>
			</wg-tab>
			<wg-tab header="controller" id="d_script">
				<demo-source language="javascript">
function ButtonController($wgGrowl) {
  		
	var vm = this;
	      
	vm.showMessage = function(msg) {
		$wgGrowl.showInfoMessage('Message', msg);
	};

	vm.buttonDisabled = true;

	vm.enableButton = function() {
		vm.buttonDisabled = false;
	};

	vm.disableButton = function() {
		vm.buttonDisabled =  true;
	};
}
				</demo-source>
			</wg-tab>
		</wg-tabview>
	</wg-fieldset>
</wg-panel>