<pui-panel header="{{mainCtrl.widget.label}}">
	
	<section>
		<header>Support for rendered</header>

		<pui-button id="visible" action="showMessage('Initially hidden button clicked')" value="Now visible" visible="buttonVisible"></pui-button>

		<br/>
		<br/>
		
		<pui-button action="showButton()" ng-hide="buttonVisible" id="showBtn" value="Show Button"></pui-button>		
		<pui-button action="hideButton()" ng-show="buttonVisible" id="hideBtn" value="Hide Button"></pui-button>
	</section>

	<pui-fieldset id="Source" legend="Source" style="margin-bottom:20px">
		<pui-tabview id="sourceTabs" >
			<pui-tab header="HTML" id="d_html">
				<demo-source language="html">
<pui-button id="visible" action="showMessage('Initially hidden button clicked')" value="Now visible" visible="buttonVisible"></pui-button>
<br/>
<br/>
<pui-button action="showButton()" ng-hide="buttonVisible" id="showBtn" value="Show Button"></pui-button>		
<pui-button action="hideButton()" ng-show="buttonVisible" id="hideBtn" value="Hide Button"></pui-button>
				</demo-source>
			</pui-tab>
			<pui-tab header="Controller" id="d_script">
				<demo-source language="javascript">
$scope.showMessage = function(msg) {
	alert(msg);
};

$scope.buttonDisabled = true;

$scope.enableButton = function() {
	$scope.buttonDisabled = false;
};

$scope.disableButton = function() {
	$scope.buttonDisabled = true;
};
				</demo-source>
			</pui-tab>
		</pui-tabview>
	</pui-fieldset>
</pui-panel>