<pui-panel header="{{mainCtrl.widget.label}}">

	<section>
		<header>Icons can be placed on button</header>

		<pui-button id="left" action="showMessage('Button left icon clicked')" icon="fa-check" value="Left Icon"></pui-button>

		<pui-button id="right" action="showMessage('Button right icon clicked')" icon="fa-close" iconPosition ="right" value="Right icon"></pui-button>

		<pui-button id="iconOnly" action="showMessage('icon only clicked')" icon="fa-save"></pui-button>
	</section>

	<pui-fieldset id="Source" legend="Source" style="margin-bottom:20px">
		<pui-tabview id="sourceTabs">
			<pui-tab header="HTML" id="d_html">
				<pre pretty-print="html" >
<pui-button id="left" action="showMessage('Button left icon clicked')" icon="fa-check" value="Left Icon"></pui-button>

<pui-button id="right" action="showMessage('Button right icon clicked')" icon="fa-close" iconPosition ="right" value="Right icon"></pui-button>

<pui-button id="iconOnly" action="showMessage('icon only clicked')" icon="fa-save"></pui-button>
				</pre>
			</pui-tab>
			<pui-tab header="Controller" id="d_script">
				<pre pretty-print="js" >
$scope.showMessage = function(msg) {
	alert(msg);
};
				</pre>
			</pui-tab>
		</pui-tabview>
	</pui-fieldset>
</pui-panel>