<wg-panel header="{{mainCtrl.widget.label}}">		

	<section>
		<header>Text on button can be dynamic</header>
		
		<wg-button id="dynamic" action="buttonCtrl.showMessage('Button variable title clicked')" value="{{buttonCtrl.buttonTitle}}"></wg-button>
		<br/>
		<br/>
		<wg-inputtext id="title" type="text" value="buttonCtrl.buttonTitle"></wg-inputtext>
	</section>

	<wg-fieldset id="Source" legend="Source" style="margin-bottom:20px">
		<wg-tabview id="sourceTabs" >
			<wg-tab header="html" id="d_html">
				<demo-source language="html">
<wg-button id="dynamic" action="buttonCtrl.showMessage('Button variable title clicked')" value="{{buttonCtrl.buttonTitle}}"></wg-button>
<br/>
<br/>
<wg-inputtext id="title" type="text" value="buttonCtrl.buttonTitle"></wg-inputtext>
				</demo-source>
			</wg-tab>
			<wg-tab header="controller" id="d_script">
				<demo-source language="javascript">
function ButtonController($wgGrowl) {
  		
	var vm = this;
	      
	vm.showMessage = function(msg) {
		$wgGrowl.showInfoMessage('Message', msg);
	};

	vm.buttonTitle = 'Change me';
}
				</demo-source>
			</wg-tab>
		</wg-tabview>
	</wg-fieldset>
</wg-panel>