<pui-panel header="{{mainCtrl.widget.label}}">
		
	<section>
		<header>Support for disabled</header>

		<pui-button id="disabled" action="buttonCtrl.showMessage('Initially disabled button clicked')" value="Disabled" disabled="buttonCtrl.buttonDisabled"></pui-button>
		
		<br/>
		<br/>
		
		<pui-button action="buttonCtrl.enableButton()" ng-show="buttonCtrl.buttonDisabled" id="enableBtn" value="Enable button"></pui-button>
		<pui-button action="buttonCtrl.disableButton()" ng-hide="buttonCtrl.buttonDisabled" id="disableBtn" value="Disable button"></pui-button>
	</section>
	
	<pui-fieldset id="Source" legend="Source" style="margin-bottom:20px">
		<pui-tabview id="sourceTabs" >
			<pui-tab header="html" id="d_html">
				<demo-source language="html">
<pui-button id="disabled" action="buttonCtrl.showMessage('Initially disabled button clicked')" value="Disabled" disabled="buttonCtrl.buttonDisabled"></pui-button>

<br/>
<br/>

<pui-button action="buttonCtrl.enableButton()" ng-show="buttonCtrl.buttonDisabled" id="enableBtn" value="Enable button"></pui-button>
<pui-button action="buttonCtrl.disableButton()" ng-hide="buttonCtrl.buttonDisabled" id="disableBtn" value="Disable button"></pui-button>
				</demo-source>
			</pui-tab>
			<pui-tab header="controller" id="d_script">
				<demo-source language="javascript">
function ButtonController($puiGrowl) {
  		
	var vm = this;
	      
	vm.showMessage = function(msg) {
		$puiGrowl.showInfoMessage('Message', msg);
	};

	vm.buttonDisabled = true;

	vm.enableButton = function() {
		vm.buttonDisabled = false;
	};

	vm.disableButton = function() {
		vm.buttonDisabled =  true;
	};
}
				</demo-source>
			</pui-tab>
		</pui-tabview>
	</pui-fieldset>
</pui-panel>