<pui-panel header="{{mainCtrl.widget.label}}">	

	<section>
		<header>Dynamic title</header>
	
		<div style="margin-bottom: 10px">
			Title is : <input type="text" ng-model="panelTitle" id="panelTitle" />
		</div>
	
		<pui-panel id="variableTitle" header="Variable title : {{panelTitle}}">
			The story begins as Don Vito Corleone, the head of a New York Mafia family, oversees his daughter's wedding.
			His beloved son Michael has just come home from the war, but does not intend to become part of his father's business.
			Through Michael's life the nature of the family business becomes clear. The business of the family is just like the head of the family,
			kind and benevolent to those who give respect,
			but given to ruthless violence whenever anything stands against the good of the family.
		</pui-panel>
	</section>

	<pui-fieldset id="Source" legend="Source" style="margin-bottom:20px">
		<pui-tabview id="sourceTabs">
			<pui-tab header="HTML" id="d_html">
				<pre pretty-print="html">
Title is : <input type="text" ng-model="panelTitle" />

<pui-panel id="default" header="Variable title : {{panelTitle}}">
	The story begins as Don Vito Corleone, the head of a New York Mafia family, oversees his daughter's wedding.
	...
	but given to ruthless violence whenever anything stands against the good of the family.
</pui-panel>
				</pre>
			</pui-tab>
			<pui-tab header="Controller" id="d_script">
				<pre pretty-print="js">
$scope.panelTitle = "Change me";
				</pre>
			</pui-tab>
		</pui-tabview>
	</pui-fieldset>
</pui-panel>