<wg-panel header="{{mainCtrl.widget.label}}">
		
	<section>
		<header>Title and content can be dynamic</header>

		<wg-tabview id="dynamic" >
        	<wg-tab header="{{title1}}" id="tab1">
            	{{description1}}
			</wg-tab>
			<wg-tab header="{{title2}}" id="tab2">
            	{{description2}}
			</wg-tab>
		</wg-tabview>
		
		Title 1 = <input type="text" ng-model="title1" id="title1"><br/>
		Description 1 = <input type="text" ng-model="description1" id="desc1"><br/>
		Title 2 = <input type="text" ng-model="title2" id="title2"><br/>
		Description 2 = <input type="text" ng-model="description2" id="desc2"><br/>
	</section>

	<wg-fieldset id="Source" legend="Source" style="margin-bottom:20px">
		<wg-tabview id="sourceTabs" >
			<wg-tab header="html" id="d_html">
				<demo-source language="html">
<wg-tabview id="dynamic" >
	<wg-tab header="{{title1}}" id="tab1">
		{{description1}}
	</wg-tab>
	<wg-tab header="{{title2}}" id="tab2">
		{{description2}}
	</wg-tab>
</wg-tabview>

Title 1 = <input type="text" ng-model="title1" id="title1"><br/>
Description 1 = <input type="text" ng-model="description1" id="desc1"><br/>
Title 2 = <input type="text" ng-model="title2" id="title2"><br/>
Description 2 = <input type="text" ng-model="description2" id="desc2"><br/>
				</demo-source>
		    </wg-tab>
			<wg-tab header="controller" id="d_script">
				<demo-source language="javascript">
$scope.title1 = 'title1';
$scope.description1 = 'description1';
$scope.title2 = 'title2';
$scope.description2 = 'description2';
				</demo-source>
			</wg-tab>
		</wg-tabview>
	</wg-fieldset>
</wg-panel>