<pui-panel header="{{mainCtrl.widget.label}}">
		
	<section>
		<header>Programmatic setting the active tab</header>

		<pui-tabview id="programmatic" binding="tabViewBind" activeIndex="{{activeIndex}}">
			<pui-tab header="Tab 1" id="tab1">
                  The story begins as Don Vito Corleone, the head of a New York Mafia family, oversees his daughter's wedding. His beloved son Michael has
                  just come home from the war, but does not intend to become part of his father's business. Through Michael's life the nature of the
                  family
                  business becomes clear. The business of the family is just like the head of the family, kind and benevolent to those who give respect,
                  but
                  given to ruthless violence whenever anything stands against the good of the family.
			</pui-tab>
			<pui-tab header="Tab 2" id="tab2">
                   Francis Ford Coppola's legendary continuation and sequel to his landmark 1972 film, The_Godfather, parallels the young Vito Corleone's
                   rise
                   with his son Michael's spiritual fall, deepening The_Godfather's depiction of the dark side of the American dream. In the early 1900s,
                   the
                   child Vito flees his Sicilian village for America after the local Mafia kills his family. Vito struggles to make a living, legally or
                   illegally, for his wife and growing brood in Little Italy, killing the local Black Hand Fanucci after he demands his customary cut of
                   the
                   tyro's business. With Fanucci gone, Vito's communal stature grows.
			</pui-tab>
			<pui-tab header="Tab 3" id="tab3">
                   After a break of more than 15 years, director Francis Ford Coppola and writer Mario Puzo returned to the well for this third and final
                   story
                   of the fictional Corleone crime family. Two decades have passed, and crime kingpin Michael Corleone, now divorced from his wife Kay has
                   nearly succeeded in keeping his promise that his family would one day be completely legitimate.
			</pui-tab>
		</pui-tabview>
		
		<div style="margin-top: 10px">
			New Active tab index: <input type="number" id="activeIndex" ng-model="activeIndex"></input>
			<br/> 
			<button ng-click="tabViewBind.selectTab(0)" id="setTab1">Set Tab 1</button>
			<button ng-click="tabViewBind.selectTab(1)" id="setTab2">Set Tab 2</button>
			<button ng-click="tabViewBind.selectTab(2)" id="setTab3">Set Tab 3</button>
		</div>
	</section>

	<pui-fieldset id="Source" legend="Source" style="margin-bottom:20px">
    	<pui-tabview id="sourceTabs">
        	<pui-tab header="HTML" id="d_html">
				<pre pretty-print="html">
<pui-tabview id="programmatic" binding="tabViewBind" activeIndex="[[activeIndex]]">
	<pui-tab header="Tab 1" id="tab1">
		The story begins as Don Vito Corleone, the head of a New York Mafia family, oversees his daughter's wedding. His beloved son Michael has
		...
		given to ruthless violence whenever anything stands against the good of the family.
	</pui-tab>
	<pui-tab header="Tab 2" id="tab2">
		Francis Ford Coppola's legendary continuation and sequel to his landmark 1972 film, The_Godfather, parallels the young Vito Corleone's
		...
		tyro's business. With Fanucci gone, Vito's communal stature grows.
	</pui-tab>
	<pui-tab header="Tab 3" id="tab3">
		After a break of more than 15 years, director Francis Ford Coppola and writer Mario Puzo returned to the well for this third and final
		...
		nearly succeeded in keeping his promise that his family would one day be completely legitimate.
	</pui-tab>
</pui-tabview>

New Active tab index: <input type="number" id="activeIndex" ng-model="activeIndex"></input>
<br/> 
<button ng-click="tabViewBind.selectTab(0)" id="setTab1">Set Tab 1</button>
<button ng-click="tabViewBind.selectTab(1)" id="setTab2">Set Tab 2</button>
<button ng-click="tabViewBind.selectTab(2)" id="setTab3">Set Tab 3</button>
				</pre>
			</pui-tab>
			<pui-tab header="Controller" id="d_script">
				<pre pretty-print="js" >
$scope.tabViewBind = null;
$scope.activeIndex = 1;
				</pre>
			</pui-tab>
		</pui-tabview>
	</pui-fieldset>
</pui-panel>