
<div id="content">

	<wg-panel header="puiTabview">
		
		<section>
			<header>Tab panels included</header>


			<wg-tabview id="repeat" dynamic="includeList">
			</wg-tabview>
            data field1: <span id="field1Value"> {{distributedData.field1}}</span> <br/>
            data field2: <span id="field2Value"> {{distributedData.field2}}</span> <br/>
            data field3: <span id="field3Value"> {{distributedData.field3}}</span> <br/>
            <button type="button" ng-click="addPanel()" id="addPanel">Add panel</button>
		</section>

		<wg-fieldset id="Source" legend="Source" style="margin-bottom:20px">
            <wg-tabview id="sourceTabs" >
                <wg-panel header="html" id="d_html">
						<demo-source language="html">
    <div id="repeat" pui-tabview="includeList">
    </div>
    data field1: {{distributedData.field1}} <br/>
    data field2: {{distributedData.field2}} <br/>
    data field3: {{distributedData.field3}} <br/>
    <button type="button" ng-click="addPanel()">Add panel</button>

						</demo-source>

                </wg-panel>
                <wg-panel header="controller" id="d_script">
                        <demo-source language="javascript">
    $scope.includeList = ["partials/puiTabview/include/panel1.html"
       , "partials/puiTabview/include/panel2.html"];

    $scope.distributedData = {
        field1: "field1"
        , field2: "field2"
        , field3: "field3"
    };

    $scope.addPanel = function() {
        $scope.includeList.push("partials/puiTabview/include/panel3.html");
    }
                        </demo-source>
					</wg-panel>
			</wg-tabview>
		</wg-fieldset>

	</wg-panel>
</div>