<wg-panel header="{{mainCtrl.widget.label}}">
		
	<section>
		<header>AngularJS expressions in legend allowed.</header>
		
		<wg-fieldset id="legend" legend="Legend with expression: {{fieldsetCtrl.fieldsetName}}">
		    The story begins as Don Vito Corleone, the head of a New York Mafia family, oversees his daughter's wedding.
		    His beloved son Michael has just come home from the war, but does not intend to become part of his father's business.
		    Through Michael's life the nature of the family business becomes clear. The business of the family is just like the head of the family,
		    kind and benevolent to those who give respect,
		    but given to ruthless violence whenever anything stands against the good of the family.
		</wg-fieldset>
		
		<br/>
		Legend value: <wg-inputtext id="legendField" value="fieldsetCtrl.fieldsetName"></wg-inputtext>		
	</section>

	<wg-fieldset id="Source" legend="Source" style="margin-top:20px">
    	<wg-tabview id="sourceTabs" >
        	<wg-tab header="HTML" id="d_html">
            	<demo-source language="html">
<wg-fieldset id="legend" legend="Legend with expression: {{fieldsetCtrl.fieldsetName}}">
    The story begins as Don Vito Corleone, the head of a New York Mafia family, oversees his daughter's wedding.
    His beloved son Michael has just come home from the war, but does not intend to become part of his father's business.
    Through Michael's life the nature of the family business becomes clear. The business of the family is just like the head of the family,
    kind and benevolent to those who give respect,
    but given to ruthless violence whenever anything stands against the good of the family.
</wg-fieldset>

<br/>
Legend value: <wg-inputtext id="legendField" value="fieldsetCtrl.fieldsetName"></wg-inputtext>
				</demo-source>
			</wg-tab>
            <wg-tab header="Controller" id="d_script">
            	<demo-source language="javascript">
function FieldsetController($puiGrowl) {
  		
	var vm = this;

	vm.fieldsetName = 'Change me';
}
                </demo-source>
			</wg-tab>
		</wg-tabview>
	</wg-fieldset>
</wg-panel>