<pui-panel header="{{mainCtrl.widget.label}}">
		
	<section>
		<header>AngularJS expressions in legend allowed.</header>
		
		<pui-fieldset id="legend" legend="Legend with expression: {{fieldsetName}}">
		    The story begins as Don Vito Corleone, the head of a New York Mafia family, oversees his daughter's wedding.
		    His beloved son Michael has just come home from the war, but does not intend to become part of his father's business.
		    Through Michael's life the nature of the family business becomes clear. The business of the family is just like the head of the family,
		    kind and benevolent to those who give respect,
		    but given to ruthless violence whenever anything stands against the good of the family.
		</pui-fieldset>
		
		<br/>
		Legend value <input type="text" ng-model="fieldsetName" id="legendField" />		
	</section>

	<pui-fieldset id="Source" legend="Source" style="margin-top:20px">
    	<pui-tabview id="sourceTabs" >
        	<pui-tab header="HTML" id="d_html">
            	<pre pretty-print="html" >
<pui-fieldset id="legend" legend="Legend with expression: { {fieldsetName}}">
    The story begins as Don Vito Corleone, the head of a New York Mafia family, oversees his daughter's wedding.
    ...
    but given to ruthless violence whenever anything stands against the good of the family.
</pui-fieldset>

<br/>
Legend value <input type="text" ng-model="fieldsetName" id="legendField" />


				</pre>
			</pui-tab>
            <pui-tab header="Controller" id="d_script">
            	<pre pretty-print="js" >
$scope.fieldsetName = 'Change me';
                </pre>
			</pui-tab>
		</pui-tabview>
	</pui-fieldset>
</pui-panel>