<wg-panel header="{{mainCtrl.widget.label}}">

	<section>
		<header>Default integration</header>

		<wg-inputText id="default" value="value1"> </wg-inputText><br/>
		Controller value is : <span id="defaultModel">{{value1}}</span><br/>
		<wg-inputText id="digits" type="number" value="numbers"> </wg-inputText><br/>
		Controller value is : <span id="digitsModel">{{numbers}}</span>
	</section>

	<wg-fieldset id="Source" legend="Source" style="margin-bottom:20px">
		<wg-tabview id="sourceTabs">
			<wg-tab header="html" id="d_html">
				<demo-source language="html">
<wg-inputText id="default" value="value1"> </wg-inputText><br/>
Controller value is : <span id="defaultModel">{{value1}}</span><br/>
<wg-inputText id="digits" type="number" value="numbers"> </wg-inputText><br/>
Controller value is : <span id="digitsModel">{{numbers}}</span>
				</demo-source>
			</wg-tab>
			<wg-tab header="controller" id="d_script">
				<demo-source language="javascript">
$scope.value1 = 'Change me';

$scope.numbers = 123;
				</demo-source>
			</wg-tab>
		</wg-tabview>
	</wg-fieldset>
		
</wg-panel>
