
<div id="content">

	<pui-panel header="puiInputText">
		

		<section>
			<header>Support for pui-disabled</header>

			<pui-inputText id="disabled" value="value1" pui-disabled="fieldDisabled"></pui-inputText><br/>
			<br/>
            Controller value is : <span id="modelValue">{{value1}}</span><br/>
			<button ng-click="enableField()" type="button" ng-show="fieldDisabled" id="enableBtn">Enable</button>
			<button ng-click="disableField()" type="button" ng-hide="fieldDisabled" id="disableBtn">Disable</button>


		</section>

		<pui-fieldset id="Source"legend="Source" style="margin-bottom:20px">
            <pui-tabview id="sourceTabs" >
                <pui-panel header="html" id="d_html">
                    <pre pretty-print="html" >
    <pui-inputText id="disabled" value="value1" pui-disabled="fieldDisabled"></pui-inputText><br/>
    <br/>
    Controller value is : <span id="modelValue">{{value1}}</span><br/>
    <button ng-click="enableField()" type="button" ng-show="fieldDisabled" id="enableBtn">Enable</button>
    <button ng-click="disableField()" type="button" ng-hide="fieldDisabled" id="disableBtn">Disable</button>

                    </pre>
                </pui-panel>
                <pui-panel header="controller" id="d_script">
                    <pre pretty-print="js" >
$scope.fieldDisabled = true;

$scope.enableField = function() {
    $scope.fieldDisabled = false;
};

$scope.disableField = function() {
    $scope.fieldDisabled =  true;
};
                    </pre>
                </pui-panel>
			</pui-tabview>
		</pui-fieldset>

	</pui-panel>
</div>