<wg-panel header="{{mainCtrl.widget.label}}">

	<section>
		<header>Support for pui-disabled</header>

		<wg-inputText id="disabled" value="value1" pui-disabled="fieldDisabled"></wg-inputText>
		<br/>
		<br/>
		Controller value is : <span id="modelValue">{{value1}}</span><br/>
		<button ng-click="enableField()" type="button" ng-show="fieldDisabled" id="enableBtn">Enable</button>
		<button ng-click="disableField()" type="button" ng-hide="fieldDisabled" id="disableBtn">Disable</button>
	</section>

	<wg-fieldset id="Source"legend="Source" style="margin-bottom:20px">
		<wg-tabview id="sourceTabs" >
			<wg-tab header="html" id="d_html">
				<demo-source language="html">
<wg-inputText id="disabled" value="value1" pui-disabled="fieldDisabled"></wg-inputText>
<br/>
<br/>
Controller value is : <span id="modelValue">{{value1}}</span><br/>
<button ng-click="enableField()" type="button" ng-show="fieldDisabled" id="enableBtn">Enable</button>
<button ng-click="disableField()" type="button" ng-hide="fieldDisabled" id="disableBtn">Disable</button>
				</demo-source>
			</wg-tab>
			<wg-tab header="Controller" id="d_script">
				<demo-source language="javascript">
$scope.fieldDisabled = true;

$scope.enableField = function() {
    $scope.fieldDisabled = false;
};

$scope.disableField = function() {
    $scope.fieldDisabled =  true;
};
				</demo-source>
			</wg-tab>
		</wg-tabview>
	</wg-fieldset>
</wg-panel>