<wg-panel header="{{mainCtrl.widget.label}}">

	<section>
		<header>Support for disabled</header>

		<wg-inputText id="disabled" value="inputTextCtrl.value" disabled="inputTextCtrl.fieldDisabled"></wg-inputText>
		<br/>
		<br/>
		Controller value is : <span id="modelValue">{{inputTextCtrl.value}}</span><br/>
		<wg-button action="inputTextCtrl.fieldDisabled = false" ng-show="inputTextCtrl.fieldDisabled" id="btnEnable" value="Enable"></wg-button>
		<wg-button action="inputTextCtrl.fieldDisabled = true" ng-hide="inputTextCtrl.fieldDisabled" id="btnDisable" value="Disable"></wg-button>
	</section>

	<wg-fieldset id="Source"legend="Source" style="margin-bottom:20px">
		<wg-tabview id="sourceTabs" >
			<wg-tab header="HTML" id="d_html">
				<demo-source language="html">
<wg-inputText id="disabled" value="inputTextCtrl.value" disabled="inputTextCtrl.fieldDisabled"></wg-inputText>
<br/>
<br/>
Controller value is : <span id="modelValue">{{inputTextCtrl.value}}</span><br/>
<wg-button action="inputTextCtrl.fieldDisabled = false" ng-show="inputTextCtrl.fieldDisabled" id="btnEnable" value="Enable"></wg-button>
<wg-button action="inputTextCtrl.fieldDisabled = true" ng-hide="inputTextCtrl.fieldDisabled" id="btnDisable" value="Disable"></wg-button>
				</demo-source>
			</wg-tab>
			<wg-tab header="Controller" id="d_script">
				<demo-source language="javascript">
function InputTextController() {
  		
   	var vm = this;

	vm.value = 'Change me';	
	vm.fieldDisabled = true;
}
				</demo-source>
			</wg-tab>
		</wg-tabview>
	</wg-fieldset>
</wg-panel>