<pui-panel header="{{mainCtrl.widget.label}}">
		
	<section>
		<header>Default integration</header>
		<pui-button id="infoBtn" action="showInfoGrowl()" value="Info"></pui-button>
		<pui-button id="errorBtn" action="showErrorGrowl()" value="Error"></pui-button>
		<pui-button id="warnBtn" action="showWarnGrowl()" value="Warn"></pui-button>
	</section>

	<pui-fieldset id="Source" legend="Source" style="margin-bottom:20px">
		<pui-tabview id="sourceTabs">
			<pui-tab header="HTML" id="d_html">
				<demo-source language="html">
<pui-button id="infoBtn" action="showInfoGrowl()" value="Info"></pui-button>
<pui-button id="errorBtn" action="showErrorGrowl()" value="Error"></pui-button>
<pui-button id="warnBtn" action="showWarnGrowl()" value="Warn"></pui-button>
				</demo-source>
			</pui-tab>
			<pui-tab header="Controller" id="d_script">
				<demo-source language="javascript">
$scope.showInfoGrowl = function() {
	puiGrowl.showInfoMessage('Info message title', "Info detail message");
};

$scope.showErrorGrowl = function() {
	puiGrowl.showErrorMessage('Error message title', "Error detail message");
};

$scope.showWarnGrowl = function() {
	puiGrowl.showWarnMessage('Warn message title', "Warn detail message");
}
				</demo-source>
			</pui-tab>
		</pui-tabview>
	</pui-fieldset>
</pui-panel>