<pui-panel header="{{mainCtrl.widget.label}}">

	<pui-fieldset id="description" legend="Description" style="margin-bottom:20px">
		The Mac's growl info like messages.
	</pui-fieldset>

	<pui-fieldset id="supports" legend="Supports" style="margin-bottom:20px">
		<ul>
			<li>Show a skinnable message on the right top for a certain time.</li>
			<li>Messages can be made sticky</li>
		</ul>
	</pui-fieldset>

	<pui-fieldset id="issues" legend="Known issues" style="margin-bottom:20px">
	</pui-fieldset>

	<pui-fieldset id="planned" legend="Planned" style="margin-bottom:20px">
	</pui-fieldset>

	<pui-fieldset id="Configuration" legend="Configuration" style="margin-bottom:20px">
		puiGrowl is a service that can be used to show 'growl' messages. <br/>
		showInfoMessage = function(title, msg, [options]) <br/>
		showWarnMessage = function(title, msg, [options]) <br/>
		showErrorMessage = function(title, msg, [options]) <br/>
		clearMessages = function() -> remove messages
	</pui-fieldset>
	
</pui-panel>