<wg-panel header="{{mainCtrl.widget.label}}">
		
	<section>
		<header>Default integration</header>
		<wg-button id="infoBtn" value="Info" action="growlCtrl.showInfoGrowl()" icon="fa-info-circle"></wg-button>
		<wg-button id="errorBtn" value="Error" action="growlCtrl.showErrorGrowl()" icon="fa-times-circle" ></wg-button>
		<wg-button id="warnBtn" value="Warn" action="growlCtrl.showWarnGrowl()" icon="fa-exclamation-triangle" ></wg-button>
	</section>

	<wg-fieldset id="Source" legend="Source" style="margin-bottom:20px">
		<wg-tabview id="sourceTabs">
			<wg-tab header="HTML" id="d_html">
				<demo-source language="html">
<wg-button id="infoBtn" value="Info" action="growlCtrl.showInfoGrowl()" icon="fa-info-circle"></wg-button>
<wg-button id="errorBtn" value="Error" action="growlCtrl.showErrorGrowl()" icon="fa-times-circle" ></wg-button>
<wg-button id="warnBtn" value="Warn" action="growlCtrl.showWarnGrowl()" icon="fa-exclamation-triangle" ></wg-button>
				</demo-source>
			</wg-tab>
			<wg-tab header="Controller" id="d_script">
				<demo-source language="javascript">
function GrowlController($puiGrowl) {

	var vm = this;

	vm.showInfoGrowl = function() {
		$puiGrowl.showInfoMessage('Info message title', "Info detail message");
	};

	vm.showErrorGrowl = function() {
		$puiGrowl.showErrorMessage('Error message title', "Error detail message");
	};

	vm.showWarnGrowl = function() {
		$puiGrowl.showWarnMessage('Warn message title', "Warn detail message");
	};	
};
				</demo-source>
			</wg-tab>
		</wg-tabview>
	</wg-fieldset>
</wg-panel>