<wg-panel header="puiInputText">

	<section>
		<header>Default integration</header>
		
		<wg-fieldset legend="Integer">
			<wg-inputnumber id="inInt" value="inputNumberCtrl.integer"></wg-inputnumber> Controller: {{inputNumberCtrl.integer}}
		</wg-fieldset>
	
		<wg-fieldset legend="Float" style="margin-top: 10px">
			<wg-inputnumber id="inFloat" type="float" value="inputNumberCtrl.float"></wg-inputnumber> Controller: {{inputNumberCtrl.float}}
		</wg-fieldset>

		<wg-fieldset legend="Currency" style="margin-top: 10px">
			<wg-inputnumber id="inCurrency" type="currency" value="inputNumberCtrl.currency"></wg-inputnumber> Controller: {{inputNumberCtrl.currency}}
		</wg-fieldset>

		<wg-fieldset legend="Percent" style="margin-top: 10px">
			<wg-inputnumber id="inPercent" type="percent" value="inputNumberCtrl.percent"></wg-inputnumber> Controller: {{inputNumberCtrl.percent}}
		</wg-fieldset>
	</section>

	<wg-fieldset id="Source" legend="Source" style="margin-bottom:20px">
		<wg-tabview id="sourceTabs" >
			<wg-tab header="HTML" id="d_html">
				<demo-source language="html">
<wg-fieldset legend="Integer">
	<wg-inputnumber id="inInt" value="inputNumberCtrl.integer"></wg-inputnumber> Controller: ((inputNumberCtrl.integer))
</wg-fieldset>

<wg-fieldset legend="Float" style="margin-top: 10px">
	<wg-inputnumber id="inFloat" type="float" value="inputNumberCtrl.float"></wg-inputnumber> Controller: ((inputNumberCtrl.float))
</wg-fieldset>

<wg-fieldset legend="Currency" style="margin-top: 10px">
	<wg-inputnumber id="inCurrency" type="currency" value="inputNumberCtrl.currency"></wg-inputnumber> Controller: ((inputNumberCtrl.currency))
</wg-fieldset>

<wg-fieldset legend="Percent" style="margin-top: 10px">
	<wg-inputnumber id="inPercent" type="percent" value="inputNumberCtrl.percent"></wg-inputnumber> Controller: ((inputNumberCtrl.percent))
</wg-fieldset>
				</demo-source>
			</wg-tab>
			<wg-tab header="Controller" id="d_script">
				<demo-source language="javascript">
function InputNumberController() {
	
	var vm = this;
	
	vm.integer = 1000000;
	vm.float = 1350.25;
	vm.percent = 6.38;
	vm.currency = 3567.25;
}
				</demo-source>
			</wg-tab>
		</wg-tabview>
	</wg-fieldset>
</wg-panel>