.pui-radiobutton {
    width: 16px;
    margin: 2px 0;
    line-height: 16px;
    cursor: pointer;
    display: inline-block;
}


.pui-radiobutton .pui-radiobutton-box {
    width: 16px;
    height: 16px;
    line-height: 16px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.pui-radiobutton-icon {     
    font-size: 10px;
    margin-top: 3px;
    margin-left: 2px;
}

.pui-radiobutton-label {
    cursor: pointer;
}

.pui-selectoneradio label {
    display: block;
    margin-top: 4px;
}

.pui-selectoneradio.pui-grid label {
    display: inline-block;
    margin-left: 4px;
    vertical-align: top;
}