<wg-panel header="{{mainCtrl.widget.label}}">

	<section>
		<header>Disable</header>
		
		<div>
			<wg-inputcheckbox id="icAngularWidgets" value="inputCheckboxCtrl.angularWidgets" disabled="inputCheckboxCtrl.checkboxDisabled"></wg-inputcheckbox>
			<label for="icAngularWidgets">AngularWidgets</label>
		</div>
			
		<br>		

		<wg-button action="inputCheckboxCtrl.checkboxDisabled = false" ng-show="inputCheckboxCtrl.checkboxDisabled" id="btnEnable" value="Enable"></wg-button>
		<wg-button action="inputCheckboxCtrl.checkboxDisabled = true" ng-hide="inputCheckboxCtrl.checkboxDisabled" id="btnDisable" value="Disable"></wg-button>

		<p>Controller value is: {{inputCheckboxCtrl.angularWidgets}}</p>
	</section>

	<wg-fieldset id="Source" legend="Source" style="margin-bottom:20px">
		<wg-tabview id="sourceTabs">
			<wg-tab header="HTML" id="d_html">
				<demo-source language="html">	
<div>
	<wg-inputcheckbox id="icAngularWidgets" value="inputCheckboxCtrl.angularWidgets" disabled="inputCheckboxCtrl.checkboxDisabled"></wg-inputcheckbox>
	<label for="icAngularWidgets">AngularWidgets</label>
</div>

<br>

<wg-button action="inputCheckboxCtrl.checkboxDisabled = false" ng-show="inputCheckboxCtrl.checkboxDisabled" id="btnEnable" value="Enable"></wg-button>
<wg-button action="inputCheckboxCtrl.checkboxDisabled = true" ng-hide="inputCheckboxCtrl.checkboxDisabled" id="btnDisable" value="Disable"></wg-button>

<p>Controller value is: {{inputCheckboxCtrl.angularWidgets}}</p>
				</demo-source>
			</wg-tab>
			<wg-tab header="Controller" id="d_script">
				<demo-source language="javascript">
function InputCheckboxController($wgGrowl) {

	var vm = this;

	vm.angularWidgets = false;
	
	vm.checkboxDisabled = true;
}
				</demo-source>
			</wg-tab>
		</wg-tabview>
	</wg-fieldset>
</wg-panel>