<wg-panel header="{{mainCtrl.widget.label}}">

	<section>
		<header>Default</header>
					
		<div>
			<wg-inputcheckbox id="icJavascript" value="inputCheckboxCtrl.javascript"></wg-inputcheckbox>
			<label for="icJavascript">Javascript</label>
		</div>

		<div>
			<wg-inputcheckbox id="icAngularjs" value="inputCheckboxCtrl.angularjs"></wg-inputcheckbox>
			<label for="icAngularjs">AngularJS</label>
		</div>

		<div>
			<wg-inputcheckbox id="icAngularWidgets" value="inputCheckboxCtrl.angularWidgets"></wg-inputcheckbox>
			<label for="icAngularWidgets">AngularWidgets</label>
		</div>

		<p>
			Controller value is:
			<br/> - javascript: {{inputCheckboxCtrl.javascript}}
			<br/> - angularjs: {{inputCheckboxCtrl.angularjs}}
			<br/> - angularWidgets: {{inputCheckboxCtrl.angularWidgets}}
		</p>
	</section>

	<wg-fieldset id="Source" legend="Source" style="margin-bottom:20px">
		<wg-tabview id="sourceTabs">
			<wg-tab header="HTML" id="d_html">
				<demo-source language="html">
<div>
	<wg-inputcheckbox id="icJavascript" value="inputCheckboxCtrl.javascript"></wg-inputcheckbox>
	<label for="icJavascript">Javascript</label>
</div>

<div>
	<wg-inputcheckbox id="icAngularjs" value="inputCheckboxCtrl.angularjs"></wg-inputcheckbox>
	<label for="icAngularjs">AngularJS</label>
</div>

<div>
	<wg-inputcheckbox id="icAngularWidgets" value="inputCheckboxCtrl.angularWidgets"></wg-inputcheckbox>
	<label for="icAngularWidgets">AngularWidgets</label>
</div>

<p>
	Controller value is:
	<br/> - javascript: {{inputCheckboxCtrl.javascript}}
	<br/> - angularjs: {{inputCheckboxCtrl.angularjs}}
	<br/> - angularWidgets: {{inputCheckboxCtrl.angularWidgets}}
</p>
				</demo-source>
			</wg-tab>
			<wg-tab header="Controller" id="d_script">
				<demo-source language="javascript">
function InputCheckboxController() {

	var vm = this;

	vm.javascript = true;
	vm.angularjs = undefined;
	vm.angularWidgets = false;
}
				</demo-source>
			</wg-tab>
		</wg-tabview>
	</wg-fieldset>
</wg-panel>