<wg-panel header="{{mainCtrl.widget.label}}">

	<section>
		<header>Default integration</header>
		
		<wg-dialog id="default" title="{{dialogCtrl.title}}" binding="dialogCtrl.dialog">
					
			<p>The story begins as Don Vito Corleone, the head of a New York Mafia family, oversees his daughter's wedding. 
			His beloved son Michael has just come home from the war, but does not intend to become part of his father's business. 
			Through Michael's life the nature of the family business becomes clear. The business of the family is just like the head of the family, 
			kind and benevolent to those who give respect, 
			but given to ruthless violence whenever anything stands against the good of the family.</p>

			<wg-facet name="footer">
				<wg-button value="Yes" icon="fa-check" action="dialogCtrl.dialog.hide()"></wg-button>
				<wg-button value="No" icon="fa-close" action="dialogCtrl.dialog.hide()"></wg-button>
			</wg-facet>
		</wg-dialog>

		<wg-button value="Show" icon="fa-external-link-square" action="dialogCtrl.dialog.show()"></wg-button>

	</section>

	<wg-fieldset id="Source" legend="Source" style="margin-bottom:20px">
		<wg-tabview id="sourceTabs">
			<wg-tab header="HTML" id="d_html">
				<demo-source language="html">
<wg-dialog id="default" title="{{dialogCtrl.title}}" binding="dialogCtrl.dialog">

	<p>The story begins as Don Vito Corleone, the head of a New York Mafia family, oversees his daughter's wedding. 
	His beloved son Michael has just come home from the war, but does not intend to become part of his father's business. 
	Through Michael's life the nature of the family business becomes clear. The business of the family is just like the head of the family, 
	kind and benevolent to those who give respect, 
	but given to ruthless violence whenever anything stands against the good of the family.</p>

	<wg-facet name="footer">
		<wg-button value="Yes" icon="fa-check" action="dialogCtrl.dialog.hide()"></wg-button>
		<wg-button value="No" icon="fa-close" action="dialogCtrl.dialog.hide()"></wg-button>
	</wg-facet>
</wg-dialog>
				
<wg-button value="Show" icon="fa-external-link-square" action="dialogCtrl.dialog.show()"></wg-button>

				</demo-source>
			</wg-tab>
			<wg-tab header="Controller" id="d_script">
				<demo-source language="javascript">
function DialogController() {
	
	var vm = this;

	vm.title = "Godfather I";
	vm.dialog = null;

}
				</demo-source>
			</wg-tab>
		</wg-tabview>
	</wg-fieldset>
</wg-panel>