<wg-panel header="{{mainCtrl.widget.label}}">

	<section>
		<header>ConfirmDialog is integrated with confirm behavior and used as a replacement for the javascript confirmation utility.</header>
			
		<wg-button value="Show Confirmation" action="dialogCtrl.showConfirmDialog()"></wg-button>
		
	</section>

	<wg-fieldset id="Source" legend="Source" style="margin-bottom:20px">
		<wg-tabview id="sourceTabs">
			<wg-tab header="HTML" id="d_html">
				<demo-source language="html">
<wg-button value="Show Confirmation" action="dialogCtrl.showConfirmDialog()"></wg-button>
				</demo-source>
			</wg-tab>
			<wg-tab header="Controller" id="d_script">
				<demo-source language="javascript">
function DialogController(puiGrowl,$puiDialog) {
	
	var vm = this;

	vm.showConfirmDialog = function() {
		$puiDialog.showConfirmDialog('Destroy the World', 'Are you sure?')
		.onYes(function(){
			puiGrowl.showInfoMessage('World destroyed!', 'Error...');
		})
		.onNo(function(){
			puiGrowl.showInfoMessage('World not destroyed!', 'Ops...');
		})
		.onDismiss(function() {
			puiGrowl.showInfoMessage('Dismiss!', 'Ops...');
		});
	}	
}
				</demo-source>
			</wg-tab>
		</wg-tabview>
	</wg-fieldset>
</wg-panel>