<wg-panel header="{{mainCtrl.widget.label}}">

	<section>
		<header>Default integration</header>

		<wg-autocomplete id="default" value="autocompleteCtrl.country" items="autocompleteCtrl.countries"></wg-autocomplete> (hint: countries)<br/>
		Controller value is: {{autocompleteCtrl.country}}
	</section>

	<wg-fieldset id="Source" legend="Source" style="margin-bottom:20px">
		<wg-tabview id="sourceTabs" >
			<wg-tab header="HTML" id="d_html">
				<demo-source language="html">
<wg-autocomplete id="default" value="autocompleteCtrl.country" items="autocompleteCtrl.countries"></wg-autocomplete> (hint: countries)<br/>
Controller value is: {{autocompleteCtrl.country}}
				</demo-source>
			</wg-tab>
			<wg-tab header="Controller" id="d_script">
				<demo-source language="javascript">
function AutocompleteController() {		
		
	var vm = this;
	vm.country = null;
	vm.countries = new Array("Afghanistan", "Albania", "Algeria", "Andorra", ...);

}
				</demo-source>
			</wg-tab>
		</wg-tabview>
	</wg-fieldset>
</wg-panel>