<pui-panel header="{{mainCtrl.widget.label}}">

	<section>
		<header>Default integration</header>

		<pui-autocomplete id="default" value="country" completeMethod="countries"></pui-autocomplete> (hint: countries)<br/>
		Controller value is :<span id="modelValue">{{country}}</span>
	</section>

	<pui-fieldset id="Source" legend="Source" style="margin-bottom:20px">
		<pui-tabview id="sourceTabs" >
			<pui-tab header="HTML" id="d_html">
				<pre pretty-print="html">
<pui-autocomplete id="default" value="country" complete_Method="countries"></pui-autocomplete> (hint: countries)<br/>
Controller value is : {{country}}
				</pre>
			</pui-tab>
			<pui-tab header="Controller" id="d_script">
				<pre pretty-print="js">
$scope.country = null;
$scope.countries = new Array("Afghanistan", "Albania", "Algeria", "Andorra", ...);
				</pre>
			</pui-tab>
		</pui-tabview>
	</pui-fieldset>
</pui-panel>