<wg-panel header="{{mainCtrl.widget.label}}">

	<section>
		<header>Callback when user selects from proposed list</header>
		<wg-fieldset legend="Single">		
			<wg-autocomplete id="acEvtSingle" value="autocompleteCtrl.country" items="autocompleteCtrl.countries" onItemSelect="autocompleteCtrl.onItemSelect"></wg-autocomplete>
			<br/>
			<br/>
			Controller value is: {{autocompleteCtrl.country}}
		</wg-fieldset>
	
		<wg-fieldset legend="Multiple" style="margin-top: 10px">			
			<wg-autocomplete id="acEvtMultiple" value="autocompleteCtrl.countrySelecteds" items="autocompleteCtrl.countries" onItemSelect="autocompleteCtrl.onItemSelect" onItemRemove="autocompleteCtrl.onItemRemove" multiple="true"></wg-autocomplete>
			<br/>
			<br/>
			Controller value is: {{autocompleteCtrl.countriesSelected}}
		</wg-fieldset>
	</section>

	<wg-fieldset legend="Source" pui-fieldset style="margin-bottom:20px">
		<wg-tabview id="sourceTabs">
			<wg-tab header="HTML" id="d_html">
				<demo-source language="html">
<wg-fieldset legend="Single">		
	<wg-autocomplete id="acEvtSingle" value="autocompleteCtrl.country" items="autocompleteCtrl.countries" onItemSelect="autocompleteCtrl.onItemSelect"></wg-autocomplete>
	<br/>
	<br/>
	Controller value is: {{autocompleteCtrl.country}}
</wg-fieldset>

<wg-fieldset legend="Multiple" style="margin-top: 10px">			
	<wg-autocomplete id="acEvtMultiple" value="autocompleteCtrl.countrySelecteds" items="autocompleteCtrl.countries" onItemSelect="autocompleteCtrl.onItemSelect" onItemRemove="autocompleteCtrl.onItemRemove" multiple="true"></wg-autocomplete>
	<br/>
	<br/>
	Controller value is: {{autocompleteCtrl.countriesSelected}}
</wg-fieldset>
				</demo-source>
			</wg-tab>
			<wg-tab header="Controller" id="d_script">
				<demo-source language="javascript">
function AutocompleteController($wgGrowl) {		
		
	var vm = this;
	vm.country = null;
	vm.countrySelecteds = [];
	vm.countries = new Array("Afghanistan", "Albania", "Algeria", "Andorra", ...);
	
	vm.onItemSelect = function(item) {
		$wgGrowl.showInfoMessage('Message', item + ' selected');			
	};

	vm.onItemRemove = function(item) {
		$wgGrowl.showInfoMessage('Message', item + ' removed');
	};
}
				</demo-source>
			</wg-tab>
		</wg-tabview>
	</wg-fieldset>
</wg-panel>