<wg-panel header="{{mainCtrl.widget.label}}">

	<section>
		<header>Callback when user selects from proposed list</header>

		<wg-fieldset legend="Single">		
			<wg-autocomplete id="acEvtSingle" value="country" completeMethod="countries" onItemSelect="onItemSelect"></wg-autocomplete>
			<br/>
			<br/>
			Controller value is: {{country}}
		</wg-fieldset>
	
		<wg-fieldset legend="Multiple" style="margin-top: 10px">			
			<wg-autocomplete id="acEvtMultiple" value="countrySelecteds" completeMethod="countries" onItemSelect="onItemSelect" onItemRemove="onItemRemove" multiple="true"></wg-autocomplete>
			<br/>
			<br/>
			Controller value is: {{countriesSelected}}
		</wg-fieldset>

	</section>

	<wg-fieldset legend="Source" pui-fieldset style="margin-bottom:20px">
		<wg-tabview id="sourceTabs">
			<wg-tab header="HTML" id="d_html">
				<demo-source language="html">
<wg-fieldset legend="Single">		
	<wg-autocomplete id="acEvtSingle" value="country" completeMethod="countries" onItemSelect="onItemSelect"></wg-autocomplete>
	<br/>
	<br/>
	Controller value is: ((country))
</wg-fieldset>

<wg-fieldset legend="Multiple" style="margin-top: 10px">			
	<wg-autocomplete id="acEvtMultiple" value="countrySelecteds" completeMethod="countries" onItemSelect="onItemSelect" onItemRemove="onItemRemove" multiple="true"></wg-autocomplete>
	<br/>
	<br/>
	Controller value is: ((countriesSelected))
</wg-fieldset>
				</demo-source>
			</wg-tab>
			<wg-tab header="Controller" id="d_script">
				<demo-source language="javascript">
$scope.country = null;
$scope.countrySelecteds = [];
$scope.countries = new Array("Afghanistan", "Albania", "Algeria", "Andorra", ...);

$scope.onItemSelect = function(item) {
	alert(item + ' selected');
};

$scope.onItemRemove = function(item) {
	alert(item + ' removed')
};
				</demo-source>
			</wg-tab>
		</wg-tabview>
	</wg-fieldset>
</wg-panel>