<wg-panel header="{{mainwidget.label}}">

	<div>
		<label>Array - Simple: </label>
		<wg-autocomplete value="value01" completeMethod="countries"></wg-autocomplete>
		<br/> Controller value is: <span ng-bind="value01"></span>
	</div>
	
	<div>
		<label>Array - Object: </label>
		<wg-autocomplete value="value02" completeMethod="objects" itemLabel="brand" dropdown="true"></wg-autocomplete>
		<br/> Controller value is: 
		<ul>
			<li ng-bind="value02.brand"></li>
			<li ng-bind="value02.year"></li>
			<li ng-bind="value02.color"></li>
			<li ng-bind="value02.vin"></li>
		</ul>
	</div>
			
	<div>
		<label>Array - Object - Custom Content: </label>
		<wg-autocomplete value="value03" completeMethod="objects" item="car" itemId="vin" itemLabel="brand" dropdown="true">
			<wg-column headerText="Brand" sortBy="brand">
				<span ng-bind="car.brand"></span>
			</wg-column>
			<wg-column headerText="Year" sortBy="year">
				<span ng-bind="car.year"></span>
			</wg-column>
			<wg-column headerText="Color" sortBy="color">
				<div>
					<div style="border: 1px solid #000; height: 16px; width: 16px;" ng-style="{ backgroundColor: car.color }"></div>
					<span ng-bind="car.color"></span>					
				</div>
			</wg-column>
			<wg-column headerText="Vin">
				<span ng-bind="car.vin"></span>
			</wg-column>
		</wg-autocomplete>
		<br/> Controller value is: 
		<ul>
			<li ng-bind="value03.brand"></li>
			<li ng-bind="value03.year"></li>
			<li ng-bind="value03.color"></li>
			<li ng-bind="value03.vin"></li>
		</ul>
	</div>
			
	<div>
		<label>Array - Object - Custom Content - Pagination: </label>
		<wg-autocomplete value="value04" completeMethod="objects" item="car" itemId="vin" itemLabel="brand" dropdown="true"
			paginator="true"
	  		rows="4"
	  		panelWidth="800">
	  		
			<wg-column headerText="Brand" sortBy="brand">
				<span ng-bind="car.brand"></span>
			</wg-column>
			<wg-column headerText="Year" sortBy="year">
				<span ng-bind="car.year"></span>
			</wg-column>
			<wg-column headerText="Color" sortBy="color">
				<div>
					<div style="border: 1px solid #000; height: 16px; width: 16px;" ng-style="{ backgroundColor: car.color }"></div>
					<span ng-bind="car.color"></span>					
				</div>
			</wg-column>
			<wg-column headerText="Vin">
				<span ng-bind="car.vin"></span>
			</wg-column>
		</wg-autocomplete>
		<br/> Controller value is: 
		<ul>
			<li ng-bind="value04.brand"></li>
			<li ng-bind="value04.year"></li>
			<li ng-bind="value04.color"></li>
			<li ng-bind="value04.vin"></li>
		</ul>
	</div>
</wg-panel>