<wg-panel header="{{mainCtrl.widget.label}}">
	
	<section>
		<header>Custom content</header>

		<wg-fieldset legend="Single">		
			<wg-autocomplete id="acCustomSingle" value="autocompleteCtrl.car" items="autocompleteCtrl.httpDataSourceSingle" item="car" itemLabel="brand" dropdown="true" paginator="true" rows="25">
				<wg-column headerText="Vin" value="vin"></wg-column>
				<wg-column headerText="Brand" value="brand"></wg-column>
				<wg-column headerText="Year" value="year"></wg-column>
				<wg-column headerText="Color">
					<div style="border: 1px dashed #000; height: 16px; width: 16px;" ng-style="{ backgroundColor: car.color }"></div>
				</wg-column>
			</wg-autocomplete>
			<br/>
			<br/>
			Controller value is: <pre ng-show="autocompleteCtrl.car != null">{{autocompleteCtrl.car | json}}</pre>
		</wg-fieldset>
	
		<wg-fieldset legend="Multiple" style="margin-top: 10px">
			<wg-autocomplete id="acCustomMultiple" value="autocompleteCtrl.carSelecteds" items="autocompleteCtrl.httpDataSourceMultiple" item="car" itemLabel="brand" dropdown="true" multiple="true" paginator="true" rows="25">
				<wg-column headerText="Vin" value="vin"></wg-column>
				<wg-column headerText="Brand" value="brand"></wg-column>
				<wg-column headerText="Year" value="year"></wg-column>
				<wg-column headerText="Color">
					<div style="border: 1px dashed #000; height: 16px; width: 16px;" ng-style="{ backgroundColor: car.color }"></div>
				</wg-column>
			</wg-autocomplete>
			<br/>
			<br/>
			Controller value is: <pre ng-show="autocompleteCtrl.carSelecteds != null">{{autocompleteCtrl.carSelecteds | json}}</pre>
		</wg-fieldset>
	</section>
	
	<wg-fieldset legend="Source" pui-fieldset style="margin-bottom:20px">
		<wg-tabview id="sourceTabs">
			<wg-tab header="HTML" id="d_html">
				<demo-source language="html">
<wg-fieldset legend="Single">		
	<wg-autocomplete id="acCustomSingle" value="autocompleteCtrl.car" items="autocompleteCtrl.httpDataSourceSingle" item="car" itemLabel="brand" dropdown="true" paginator="true" rows="25">
		<wg-column headerText="Vin" value="vin"></wg-column>
		<wg-column headerText="Brand" value="brand"></wg-column>
		<wg-column headerText="Year" value="year"></wg-column>
		<wg-column headerText="Color">
			<div style="border: 1px dashed #000; height: 16px; width: 16px;" ng-style="{ backgroundColor: car.color }"></div>
		</wg-column>
	</wg-autocomplete>
	<br/>
	<br/>
	Controller value is: <pre ng-show="autocompleteCtrl.car != null">{{autocompleteCtrl.car | json}}</pre>
</wg-fieldset>

<wg-fieldset legend="Multiple" style="margin-top: 10px">
	<wg-autocomplete id="acCustomMultiple" value="autocompleteCtrl.carSelecteds" itens="autocompleteCtrl.httpDataSourceMultiple" item="car" itemLabel="brand" dropdown="true" multiple="true" paginator="true" rows="25">
		<wg-column headerText="Vin" value="vin"></wg-column>
		<wg-column headerText="Brand" value="brand"></wg-column>
		<wg-column headerText="Year" value="year"></wg-column>
		<wg-column headerText="Color">
			<div style="border: 1px dashed #000; height: 16px; width: 16px;" ng-style="{ backgroundColor: car.color }"></div>
		</wg-column>
	</wg-autocomplete>
	<br/>
	<br/>
	Controller value is: <pre ng-show="autocompleteCtrl.carSelecteds != null">{{autocompleteCtrl.carSelecteds | json}}</pre>
</wg-fieldset>
				</demo-source>
			</wg-tab>
			<wg-tab header="Controller" id="d_script">
				<demo-source language="javascript">
function AutocompleteController() {		
		
	var vm = this;
		
	vm.car = null;
	vm.carSelecteds = [];
	vm.httpDataSourceSingle = new AngularWidgets.HttpDataSource({ url: 'json/cars.json' });
	vm.httpDataSourceMultiple = new AngularWidgets.HttpDataSource({ url: 'json/cars.json' });
	
}          
				</demo-source>
			</wg-tab>
		</wg-tabview>
	</wg-fieldset>
		
</wg-panel>