<wg-panel header="{{mainCtrl.widget.label}}">

	<section>
		<header>Disabled autocomplete</header>

		<wg-autocomplete id="dropdown" value="country" completeMethod="countries" disabled="fieldDisabled" dropdown="true"></wg-autocomplete><br/>
		Controller value is : {{country}}
		<br/>
		<wg-button action="enableField()" disabled="!fieldDisabled" value="Enable"></wg-button>
		<wg-button action="disableField()" disabled="fieldDisabled" value="Disable"></wg-button>
	</section>

	<wg-fieldset id="Source" legend="Source" style="margin-bottom:20px">
		<wg-tabview id="sourceTabs" >
			<wg-tab header="HTML" id="d_html">
				<demo-source language="html">
<wg-autocomplete id="dropdown" value="country" completeMethod="countries" disabled="fieldDisabled" dropdown="true"></wg-autocomplete><br/>
Controller value is : {{country}}
<br/>
<wg-button action="enableField()" disabled="!fieldDisabled" value="Enable"></wg-button>
<wg-button action="disableField()" disabled="fieldDisabled" value="Disable"></wg-button>
				</demo-source>
			</wg-tab>
			<wg-tab header="Controller" id="d_script">
				<demo-source language="javascript">
$scope.country = null;
$scope.countries = new Array("Afghanistan", "Albania", "Algeria", "Andorra", ...);

$scope.fieldDisabled = true;

$scope.enableField = function() {
	$scope.fieldDisabled = false;
};

$scope.disableField = function() {
	$scope.fieldDisabled =  true;
};
				</demo-source>
			</wg-tab>
		</wg-tabview>
	</wg-fieldset>
</wg-panel>