<pui-panel header="{{mainCtrl.widget.label}}">

	<section>
		<header>Limit the value to the allowed list</header>

		<pui-autocomplete id="limit" value="country" forceSelection="true" completeMethod="countries"></pui-autocomplete>
		<br/>
		Controller value is : <span id="modelValue">{{country}}</span>
	</section>

	<pui-fieldset legend="Source" style="margin-bottom:20px">
		<pui-tabview id="sourceTabs">
               <pui-tab header="HTML" id="d_html">
					<pre pretty-print="html">
<pui-autocomplete id="limit" value="country" forceSelection="true" completeMethod="countries"></pui-autocomplete>
<br/>
Controller value is : {{country}}
				    </pre>
               </pui-tab>
               <pui-tab header="Controller" id="d_script">
					<pre pretty-print="js">
$scope.country = null;
$scope.countries = new Array("Afghanistan", "Albania", "Algeria", "Andorra", ...);
				   </pre>
				</pui-tab>
			</pui-tabview>
	</pui-fieldset>
</pui-panel>