<wg-panel header="{{mainCtrl.widget.label}}">
	
	<section>
		<header>Autocomplete Http Data Source</header>
	
		<wg-fieldset legend="Single">
			<wg-autocomplete 
				id="acHttpPaginatorSingle"
				value="car" 
				completeMethod="httpDataSourceSingle" 
				itemLabel="brand" 
				dropdown="true" 
				paginator="true"
				rows="30">
			</wg-autocomplete>
			<br/>
			<br/>
			Controller value is: <pre ng-show="car != null">{{car | json}}</pre>
		</wg-fieldset>

		<wg-fieldset legend="Multiple" style="margin-top: 10px">
			<wg-autocomplete 
				id="acHttpPaginatorMultiple"
				value="carSelecteds"
				completeMethod="httpDataSourceMultiple"
				itemLabel="brand"
				dropdown="true"
				paginator="true"
				rows="30"
				multiple="true">
			</wg-autocomplete>
			<br/>
			<br/>
			Controller value is: <pre ng-show="carSelecteds != null">{{carSelecteds | json}}</pre>
		</wg-fieldset>
	</section>
	
	<wg-fieldset legend="Source" pui-fieldset style="margin-bottom:20px">
		<wg-tabview id="sourceTabs">
			<wg-tab header="HTML" id="d_html">
				<demo-source language="html">
<wg-fieldset legend="Single">
	<wg-autocomplete 
		id="acHttpPaginatorSingle"
		value="car" 
		completeMethod="httpDataSourceSingle" 
		itemLabel="brand" 
		dropdown="true" 
		paginator="true"
		rows="30">
	</wg-autocomplete>
	<br/>
	<br/>
	Controller value is: <pre ng-show="car != null">{{car | json}}</pre>
</wg-fieldset>

<wg-fieldset legend="Multiple" style="margin-top: 10px">
	<wg-autocomplete 
		id="acHttpPaginatorMultiple"
		value="carSelecteds"
		completeMethod="httpDataSourceMultiple"
		itemLabel="brand"
		dropdown="true"
		paginator="true"
		rows="30"
		multiple="true">
	</wg-autocomplete>
	<br/>
	<br/>
	Controller value is: <pre ng-show="carSelecteds != null">{{carSelecteds | json}}</pre>
</wg-fieldset>
				</demo-source>
			</wg-tab>
			<wg-tab header="Controller" id="d_script">
				<demo-source language="javascript">
$scope.car = null;
$scope.carSelecteds = [];
$scope.httpDataSourceSingle = new AngularWidgets.HttpDataSource({ url: 'json/cars.json' });
$scope.httpDataSourceMultiple = new AngularWidgets.HttpDataSource({ url: 'json/cars.json' });
				</demo-source>
			</wg-tab>
		</wg-tabview>
	</wg-fieldset>
		
</wg-panel>