<wg-panel header="{{mainCtrl.widget.label}}">

	<section>
		<header>Disabled autocomplete</header>
		<wg-autocomplete id="dropdown" value="autocompleteCtrl.country" items="autocompleteCtrl.countries" disabled="autocompleteCtrl.fieldDisabled" dropdown="true"></wg-autocomplete>
		<br/>
		Controller value is : {{autocompleteCtrl.country}}
		<br/>
		<wg-button action="autocompleteCtrl.enableField()" disabled="!autocompleteCtrl.fieldDisabled" value="Enable"></wg-button>
		<wg-button action="autocompleteCtrl.disableField()" disabled="autocompleteCtrl.fieldDisabled" value="Disable"></wg-button>
	</section>

	<wg-fieldset id="Source" legend="Source" style="margin-bottom:20px">
		<wg-tabview id="sourceTabs" >
			<wg-tab header="HTML" id="d_html">
				<demo-source language="html">
<wg-autocomplete id="dropdown" value="autocompleteCtrl.country" items="autocompleteCtrl.countries" disabled="autocompleteCtrl.fieldDisabled" dropdown="true"></wg-autocomplete>
<br/>
Controller value is : {{autocompleteCtrl.country}}
<br/>
<wg-button action="autocompleteCtrl.enableField()" disabled="!autocompleteCtrl.fieldDisabled" value="Enable"></wg-button>
<wg-button action="autocompleteCtrl.disableField()" disabled="autocompleteCtrl.fieldDisabled" value="Disable"></wg-button>
				</demo-source>
			</wg-tab>
			<wg-tab header="Controller" id="d_script">
				<demo-source language="javascript">
function AutocompleteController() {		
		
	var vm = this;
	vm.country = null;
	vm.countries = new Array("Afghanistan", "Albania", "Algeria", "Andorra", ...);

	vm.fieldDisabled = true;

	vm.enableField = function() {
		vm.fieldDisabled = false;
	};

	vm.disableField = function() {
		vm.fieldDisabled =  true;
	};
}
				</demo-source>
			</wg-tab>
		</wg-tabview>
	</wg-fieldset>
</wg-panel>