<wg-panel header="{{mainCtrl.widget.label}}">		

	<section>
		<header>Multiple values integration</header>

		<wg-autocomplete 
			id="multiple" 
			value="selectedsCountries" 
			completeMethod="countries"
			multiple="true">
		</wg-autocomplete>
		
		<br/>
			
		Selected values are : {{selectedsCountries}}
	</section>

	<wg-fieldset id="Source" legend="Source" style="margin-bottom:20px">
		<wg-tabview id="sourceTabs" >
			<wg-tab header="HTML" id="d_html">
				<demo-source language="html">
<wg-autocomplete 
	id="multiple" 
	value="selectedsCountries" 
	completeMethod="countries"
	multiple="true">
</wg-autocomplete>

<br/>
	
Selected values are : ((selectedsCountries))
				</demo-source>
			</wg-tab>
			<wg-tab header="Controller" id="d_script">
				<demo-source language="javascript">
$scope.selectedsCountries = [];
$scope.countries = new Array("Afghanistan", "Albania", "Algeria", "Andorra", ...);
				</demo-source>
			</wg-tab>
		</wg-tabview>
	</wg-fieldset>
</wg-panel>