<pui-panel header="{{mainCtrl.widget.label}}">
	
	<section>
		<header>Autocomplete object value</header>

		<pui-fieldset legend="Single">		
			<pui-autocomplete id="acObjectSingle" value="car" completeMethod="cars" itemLabel="brand" dropdown="true"></pui-autocomplete>
			<br/>
			<br/>
			Controller value is: <pre ng-show="car != null">{{car | json}}</pre>
		</pui-fieldset>
	
		<pui-fieldset legend="Multiple" style="margin-top: 10px">
			<pui-autocomplete id="acObjectMultiple" value="carSelecteds" completeMethod="cars" itemLabel="brand" dropdown="true" multiple="true"></pui-autocomplete>
			<br/>
			<br/>
			Controller value is: <pre ng-show="carSelecteds != null">{{carSelecteds | json}}</pre>
		</pui-fieldset>
	</section>
	
	<pui-fieldset legend="Source" pui-fieldset style="margin-bottom:20px">
		<pui-tabview id="sourceTabs">
			<pui-tab header="HTML" id="d_html">
				<demo-source language="html">
<pui-fieldset legend="Single">		
	<pui-autocomplete id="acObjectSingle" value="car" completeMethod="cars" itemLabel="brand" dropdown="true"></pui-autocomplete>
	<br/>
	<br/>
	Controller value is: <pre ng-show="car != null">{ {car | json}}</pre>
</pui-fieldset>

<pui-fieldset legend="Multiple" style="margin-top: 10px">
	<pui-autocomplete id="acObjectMultiple" value="carSelecteds" completeMethod="cars" itemLabel="brand" dropdown="true" multiple="true"></pui-autocomplete>
	<br/>
	<br/>
	Controller value is: <pre ng-show="carSelecteds != null">{ {carSelecteds | json}}</pre>
</pui-fieldset>
				</demo-source>
			</pui-tab>
			<pui-tab header="Controller" id="d_script">
				<demo-source language="javascript">
$scope.car = null;
$scope.carSelecteds = [];
$scope.cars = [ {'brand':'Volkswagen','year': 2012, 'color':'White', 'vin':'dsad231ff'}, ... ];          
				</demo-source>
			</pui-tab>
		</pui-tabview>
	</pui-fieldset>
		
</pui-panel>