<pui-panel header="{{mainCtrl.widget.label}}">
	
	<section>
		<header>Custom content</header>

		<pui-fieldset legend="Single">
			<pui-autocomplete 
				id="acCustomContentSingle"
				value="car" 
				completeMethod="httpDataLoaderSingle" 
				item="car"
				itemLabel="brand"
				dropdown="true" 
				paginator="true"
				rows="30">
				<pui-facet name="content">
					{{car.brand}} - {{car.year}}<br/>
					<span style="font-size: 9px">Vin: {{car.vin}}, Color: {{car.color}}</span>
				</pui-facet>
			</pui-autocomplete>
			<br/>
			<br/>
			Controller value is: <pre ng-show="car != null">{{car | json}}</pre>
		</pui-fieldset>

		<pui-fieldset legend="Multiple" style="margin-top: 10px">
			<pui-autocomplete 
				id="acCustomContentMultiple"
				value="carSelecteds"
				completeMethod="httpDataLoaderMultiple"
				item="car"
				itemLabel="brand"
				dropdown="true"
				paginator="true"
				rows="30"
				multiple="true">
				<pui-facet name="content">
					{{car.brand}} - {{car.year}}<br/>
					<span style="font-size: 9px">Vin: {{car.vin}}, Color: {{car.color}}</span>
				</pui-facet>
			</pui-autocomplete>
			<br/>
			<br/>
			Controller value is: <pre ng-show="carSelecteds != null">{{carSelecteds | json}}</pre>
		</pui-fieldset>
	</section>
	
	<pui-fieldset legend="Source" pui-fieldset style="margin-bottom:20px">
		<pui-tabview id="sourceTabs">
			<pui-tab header="HTML" id="d_html">
				<pre pretty-print="html">
<pui-fieldset legend="Single">
	<pui-autocomplete 
		id="acCustomContentSingle"
		value="car" 
		completeMethod="httpDataLoaderSingle" 
		item="car"
		itemLabel="brand"
		dropdown="true" 
		paginator="true"
		rows="30">
		<pui-facet name="content">
			{ {car.brand}} - { {car.year}}<br/>
			<span style="font-size: 9px">Vin: { {car.vin}}, Color: { {car.color}}</span>
		</pui-facet>
	</pui-autocomplete>
	<br/>
	<br/>
	Controller value is: <pre ng-show="car != null">{ {car | json}}</pre>
</pui-fieldset>

<pui-fieldset legend="Multiple" style="margin-top: 10px">
	<pui-autocomplete 
		id="acCustomContentMultiple"
		value="carSelecteds"
		completeMethod="httpDataLoaderMultiple"
		item="car"
		itemLabel="brand"
		dropdown="true"
		paginator="true"
		rows="30"
		multiple="true">
		<pui-facet name="content">
			{ {car.brand}} - { {car.year}}<br/>
			<span style="font-size: 9px">Vin: { {car.vin}}, Color: { {car.color}}</span>
		</pui-facet>
	</pui-autocomplete>
	<br/>
	<br/>
	Controller value is: <pre ng-show="carSelecteds != null">{ {carSelecteds | json}}</pre>
</pui-fieldset>
				</pre>
			</pui-tab>
			<pui-tab header="Controller" id="d_script">
				<pre pretty-print="js">
$scope.car = null;
$scope.carSelecteds = [];
$scope.httpDataLoaderSingle = new AngularWidgets.HttpDataLoader({ url: 'json/cars.json' });
$scope.httpDataLoaderMultiple = new AngularWidgets.HttpDataLoader({ url: 'json/cars.json' });         
				</pre>
			</pui-tab>
		</pui-tabview>
	</pui-fieldset>
		
</pui-panel>