<pui-panel header="{{mainCtrl.widget.label}}">
	
	<section>
		<header>Autocomplete Http Data Loader</header>
	
		<pui-fieldset legend="Single">
			<pui-autocomplete 
				id="acHttpPaginatorSingle"
				value="car" 
				completeMethod="httpDataLoaderSingle" 
				itemLabel="brand" 
				dropdown="true" 
				paginator="true"
				rows="30">
			</pui-autocomplete>
			<br/>
			<br/>
			Controller value is: <pre ng-show="car != null">{{car | json}}</pre>
		</pui-fieldset>

		<pui-fieldset legend="Multiple" style="margin-top: 10px">
			<pui-autocomplete 
				id="acHttpPaginatorMultiple"
				value="carSelecteds"
				completeMethod="httpDataLoaderMultiple"
				itemLabel="brand"
				dropdown="true"
				paginator="true"
				rows="30"
				multiple="true">
			</pui-autocomplete>
			<br/>
			<br/>
			Controller value is: <pre ng-show="carSelecteds != null">{{carSelecteds | json}}</pre>
		</pui-fieldset>
	</section>
	
	<pui-fieldset legend="Source" pui-fieldset style="margin-bottom:20px">
		<pui-tabview id="sourceTabs">
			<pui-tab header="HTML" id="d_html">
				<demo-source language="html">
<pui-fieldset legend="Single">
	<pui-autocomplete 
		id="acHttpPaginatorSingle"
		value="car" 
		completeMethod="httpDataLoaderSingle" 
		itemLabel="brand" 
		dropdown="true" 
		paginator="true"
		rows="30">
	</pui-autocomplete>
	<br/>
	<br/>
	Controller value is: <pre ng-show="car != null">{{car | json}}</pre>
</pui-fieldset>

<pui-fieldset legend="Multiple" style="margin-top: 10px">
	<pui-autocomplete 
		id="acHttpPaginatorMultiple"
		value="carSelecteds"
		completeMethod="httpDataLoaderMultiple"
		itemLabel="brand"
		dropdown="true"
		paginator="true"
		rows="30"
		multiple="true">
	</pui-autocomplete>
	<br/>
	<br/>
	Controller value is: <pre ng-show="carSelecteds != null">{{carSelecteds | json}}</pre>
</pui-fieldset>
				</demo-source>
			</pui-tab>
			<pui-tab header="Controller" id="d_script">
				<demo-source language="javascript">
$scope.car = null;
$scope.carSelecteds = [];
$scope.httpDataLoaderSingle = new AngularWidgets.HttpDataLoader({ url: 'json/cars.json' });
$scope.httpDataLoaderMultiple = new AngularWidgets.HttpDataLoader({ url: 'json/cars.json' });
				</demo-source>
			</pui-tab>
		</pui-tabview>
	</pui-fieldset>
		
</pui-panel>