<wg-panel header="{{mainCtrl.widget.label}}">		

	<section>
		<header>Multiple values integration</header>

		<wg-autocomplete 
			id="multiple" 
			value="autocompleteCtrl.selectedsCountries" 
			items="autocompleteCtrl.countries"
			multiple="true">
		</wg-autocomplete>
		
		<br/>
			
		Selected values are : {{autocompleteCtrl.selectedsCountries}}
	</section>

	<wg-fieldset id="Source" legend="Source" style="margin-bottom:20px">
		<wg-tabview id="sourceTabs" >
			<wg-tab header="HTML" id="d_html">
				<demo-source language="html">
<wg-autocomplete 
	id="multiple" 
	value="autocompleteCtrl.selectedsCountries" 
	items="autocompleteCtrl.countries"
	multiple="true">
</wg-autocomplete>

<br/>
	
Selected values are : {{autocompleteCtrl.selectedsCountries}}
				</demo-source>
			</wg-tab>
			<wg-tab header="Controller" id="d_script">
				<demo-source language="javascript">
function AutocompleteController() {		
		
	var vm = this;
	
	vm.countries = new Array("Afghanistan", "Albania", "Algeria", "Andorra", ...);
	
	vm.selectedsCountries = ["Brazil","Argentina"];
}
				</demo-source>
			</wg-tab>
		</wg-tabview>
	</wg-fieldset>
</wg-panel>